.site-hero__container {
  position: relative; // Anchor video;
  margin-bottom: 176px;
  background: var(--neutral-white);
  color: var(--text-on-neutral-white);
}

.site-hero__content[class] {
  position: relative;
  z-index: 4; // Appear above video 'play' button.
  grid-column-start: 2;
  pointer-events: none; // Ensure that it passes click events to video.
}

.site-hero__details {
  position: absolute;
  left: 0;
  top: 100%;
  display: flex;
  width: fit-content;
  border: solid 1.5px black;
  text-transform: uppercase;
  rotate: -90deg;
  transform-origin: top left;
  font-weight: 600;
  letter-spacing: 1.6px;
}

.site-hero__details-item {
  padding: 12px 20px;

  &:first-child {
    border-right: solid 1.5px black;
    color: var(--text-on-neutral-primary);
  }
}

.site-hero__details-button {
  display: flex;
  width: 48px;
  padding: 0;
  aspect-ratio: 1;
  border-color: transparent;
  background: var(--neutral-dark);
  color: var(--text-on-neutral-dark-secondary);

  &:after {
    content: "";
    width: 24px;
    aspect-ratio: 1;
    margin: auto;
    mask-image: url('images/calendar.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    background: currentColor;
    rotate: 90deg;
  }
}

.site-hero__title {
  text-shadow: 0px 0px 88px rgba(255, 255, 255, 0.50);
  font-size: 224px;
  font-weight: 700;
  line-height: 0.85;
  letter-spacing: -7px;
  text-transform: uppercase;
  color: var(--text-on-neutral-white);

  .first-word {
    color: var(--text-on-neutral-primary);
  }
}

.site-hero__cta a {
  display: inline-flex;
  gap: 8px;
  margin-top: auto;
  font-size: 16px;
  font-weight: 600;
  line-height: 2;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-on-neutral-white);
}

.site-hero__media-cta-icon {
  display: flex;
  width: 32px;
  aspect-ratio: 1;
  background-color: var(--secondary);
  color: var(--text-on-secondary);

  &:after {
    content: "";
    width: 50%;
    height: 50%;
    margin: auto;
    mask-image: url('images/arrow-right.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: currentColor;
  }
}

.site-hero__media {
  position: absolute;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  overflow: clip;

  img,
  video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--teal), var(--pink-light));
    opacity: 0.5;
    pointer-events: none;
  }
}

.site-hero__play-pause {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
  background: hsla(194, 66%, 80%, 0.8);
  border: solid 2px transparent;
  text-indent: -999px;
  overflow: hidden;
  transition: background 0.2s;

  &:hover, {
    background: rgba(white, 0.8);
  }

  &:focus {
    outline: solid 2px currentColor;
    border-radius: 0;
    outline-offset: -6px;
  }

  &[aria-pressed="true"]:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    margin-left: 1px;
    border-left: solid 15px currentColor;
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
  }

  &[aria-pressed="false"]:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%);
    border-left: solid 4px currentColor;
    border-right: solid 4px currentColor;
  }
}
