{{ attach_library('pubsub/view-session-schedule') }}

{% if title %}
  <h2 class="view-session-schedule__title">{{ title }}</h2>
{% endif %}
{% for row in rows %}
  <div class="view-session-schedule__item">
    {{- row.content -}}
  </div>
{% endfor %}
