/**
 * @file
 * Grid system definition for the footer top and footer bottom layouts.
 */
.site-footer__inner {
  padding-block: var(--sp2);
}
@media (--nav) {
  .site-footer__inner {
    padding-block: var(--sp4) calc(13 * var(--sp));
  }
}

.region--footer_top__inner > *,
.region--footer_bottom__inner > * {
  margin-block-end: var(--sp2);
}
@media (--md) {
  .region--footer_top__inner > *,
.region--footer_bottom__inner > * {
    flex: 1;
    margin-block-end: 0;
  }
  .region--footer_top__inner > *:not(:last-child),
.region--footer_bottom__inner > *:not(:last-child) {
    margin-inline-end: var(--sp2);
  }
}
@media (--md) {
  .region--footer_top__inner,
.region--footer_bottom__inner {
    display: flex;
    flex-wrap: wrap;
  }
}