/**
 * @file
 * Base Layout.
 */
/* Navigation related breakpoints */
/* Grid related breakpoints */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-column-gap: 32px;
}
.grid :where(& > *) {
  grid-column: 1/-1;
}