/**
 * @file
 * Responsive styles for views grid horizontal layout.
 */
:root {
  --views-grid-layout-gap: var(--sp);
}

.views-view-grid--horizontal {
  display: flex;
  flex-wrap: wrap;
}
.views-view-grid--horizontal.cols-1 > * {
  flex-basis: 100%;
  margin-inline-end: 0;
}
.views-view-grid--horizontal.cols-2 > * {
  flex-basis: 100%;
  margin-inline-end: 0;
  /* 2 column layout. */
}
@media (--md) {
  .views-view-grid--horizontal.cols-2 > * {
    flex-basis: calc(50% - 0.5 * var(--views-grid-layout-gap));
    margin-inline-end: var(--views-grid-layout-gap);
  }
  .views-view-grid--horizontal.cols-2 > *:nth-child(2n) {
    margin-inline-end: 0;
  }
}
.views-view-grid--horizontal.cols-3 > * {
  flex-basis: 100%;
  margin-inline-end: 0;
  /* 2 column layout. */
  /* 3 column layout. */
}
@media (--md) {
  .views-view-grid--horizontal.cols-3 > * {
    flex-basis: calc(50% - 0.5 * var(--views-grid-layout-gap));
    margin-inline-end: var(--views-grid-layout-gap);
  }
  .views-view-grid--horizontal.cols-3 > *:nth-child(2n) {
    margin-inline-end: 0;
  }
}
@media (--lg) {
  .views-view-grid--horizontal.cols-3 > * {
    flex-basis: calc(33.3333333333% - 0.6666666667 * var(--views-grid-layout-gap));
  }
  .views-view-grid--horizontal.cols-3 > *:nth-child(2n) {
    margin-inline-end: var(--views-grid-layout-gap);
  }
  .views-view-grid--horizontal.cols-3 > *:nth-child(3n) {
    margin-inline-end: 0;
  }
}
.views-view-grid--horizontal.cols-4 > * {
  flex-basis: 100%;
  margin-inline-end: 0;
  /* 2 column layout. */
  /* 4 column layout. */
}
@media (--md) {
  .views-view-grid--horizontal.cols-4 > * {
    flex-basis: calc(50% - 0.5 * var(--views-grid-layout-gap));
    margin-inline-end: var(--views-grid-layout-gap);
  }
  .views-view-grid--horizontal.cols-4 > *:nth-child(2n) {
    margin-inline-end: 0;
  }
}
@media (--lg) {
  .views-view-grid--horizontal.cols-4 > * {
    flex-basis: calc(25% - 0.75 * var(--views-grid-layout-gap));
  }
  .views-view-grid--horizontal.cols-4 > *:nth-child(2n) {
    margin-inline-end: var(--views-grid-layout-gap);
  }
  .views-view-grid--horizontal.cols-4 > *:nth-child(4n) {
    margin-inline-end: 0;
  }
}
.views-view-grid--horizontal.cols-5 > * {
  flex-basis: 100%;
  margin-inline-end: 0;
  /* 2 column layout. */
  /* 3 column layout. */
  /* 5 column layout. */
}
@media (--sm) {
  .views-view-grid--horizontal.cols-5 > * {
    flex-basis: calc(50% - 0.5 * var(--views-grid-layout-gap));
    margin-inline-end: var(--views-grid-layout-gap);
  }
  .views-view-grid--horizontal.cols-5 > *:nth-child(2n) {
    margin-inline-end: 0;
  }
}
@media (--md) {
  .views-view-grid--horizontal.cols-5 > * {
    flex-basis: calc(33.3333333333% - 0.6666666667 * var(--views-grid-layout-gap));
  }
  .views-view-grid--horizontal.cols-5 > *:nth-child(2n) {
    margin-inline-end: var(--views-grid-layout-gap);
  }
  .views-view-grid--horizontal.cols-5 > *:nth-child(3n) {
    margin-inline-end: 0;
  }
}
@media (--lg) {
  .views-view-grid--horizontal.cols-5 > * {
    flex-basis: calc(20% - 0.8 * var(--views-grid-layout-gap));
  }
  .views-view-grid--horizontal.cols-5 > *:nth-child(3n) {
    margin-inline-end: var(--views-grid-layout-gap);
  }
  .views-view-grid--horizontal.cols-5 > *:nth-child(5n) {
    margin-inline-end: 0;
  }
}
.views-view-grid--horizontal.cols-6 > * {
  flex-basis: 100%;
  margin-inline-end: 0;
  /* 2 column layout. */
  /* 3 column layout. */
  /* 6 column layout. */
}
@media (--sm) {
  .views-view-grid--horizontal.cols-6 > * {
    flex-basis: calc(50% - 0.5 * var(--views-grid-layout-gap));
    margin-inline-end: var(--views-grid-layout-gap);
  }
  .views-view-grid--horizontal.cols-6 > *:nth-child(2n) {
    margin-inline-end: 0;
  }
}
@media (--md) {
  .views-view-grid--horizontal.cols-6 > * {
    flex-basis: calc(33.3333333333% - 0.6666666667 * var(--views-grid-layout-gap));
  }
  .views-view-grid--horizontal.cols-6 > *:nth-child(2n) {
    margin-inline-end: var(--views-grid-layout-gap);
  }
  .views-view-grid--horizontal.cols-6 > *:nth-child(3n) {
    margin-inline-end: 0;
  }
}
@media (--lg) {
  .views-view-grid--horizontal.cols-6 > * {
    flex-basis: calc(16.6666666667% - 0.8333333333 * var(--views-grid-layout-gap));
  }
  .views-view-grid--horizontal.cols-6 > *:nth-child(3n) {
    margin-inline-end: var(--views-grid-layout-gap);
  }
  .views-view-grid--horizontal.cols-6 > *:nth-child(6n) {
    margin-inline-end: 0;
  }
}
.views-view-grid--horizontal.cols-7 > * {
  flex-basis: 100%;
  margin-inline-end: 0;
  /* 2 column layout. */
  /* 3 column layout. */
  /* 7 column layout. */
}
@media (--sm) {
  .views-view-grid--horizontal.cols-7 > * {
    flex-basis: calc(50% - 0.5 * var(--views-grid-layout-gap));
    margin-inline-end: var(--views-grid-layout-gap);
  }
  .views-view-grid--horizontal.cols-7 > *:nth-child(2n) {
    margin-inline-end: 0;
  }
}
@media (--md) {
  .views-view-grid--horizontal.cols-7 > * {
    flex-basis: calc(33.3333333333% - 0.6666666667 * var(--views-grid-layout-gap));
  }
  .views-view-grid--horizontal.cols-7 > *:nth-child(2n) {
    margin-inline-end: var(--views-grid-layout-gap);
  }
  .views-view-grid--horizontal.cols-7 > *:nth-child(3n) {
    margin-inline-end: 0;
  }
}
@media (--lg) {
  .views-view-grid--horizontal.cols-7 > * {
    flex-basis: calc(14.2857142857% - 0.8571428571 * var(--views-grid-layout-gap));
  }
  .views-view-grid--horizontal.cols-7 > *:nth-child(3n) {
    margin-inline-end: var(--views-grid-layout-gap);
  }
  .views-view-grid--horizontal.cols-7 > *:nth-child(7n) {
    margin-inline-end: 0;
  }
}
.views-view-grid--horizontal.cols-8 > * {
  flex-basis: 100%;
  margin-inline-end: 0;
  /* 2 column layout. */
  /* 4 column layout. */
  /* 8 column layout. */
}
@media (--sm) {
  .views-view-grid--horizontal.cols-8 > * {
    flex-basis: calc(50% - 0.5 * var(--views-grid-layout-gap));
    margin-inline-end: var(--views-grid-layout-gap);
  }
  .views-view-grid--horizontal.cols-8 > *:nth-child(2n) {
    margin-inline-end: 0;
  }
}
@media (--md) {
  .views-view-grid--horizontal.cols-8 > * {
    flex-basis: calc(25% - 0.75 * var(--views-grid-layout-gap));
  }
  .views-view-grid--horizontal.cols-8 > *:nth-child(2n) {
    margin-inline-end: var(--views-grid-layout-gap);
  }
  .views-view-grid--horizontal.cols-8 > *:nth-child(4n) {
    margin-inline-end: 0;
  }
}
@media (--lg) {
  .views-view-grid--horizontal.cols-8 > * {
    flex-basis: calc(12.5% - 0.875 * var(--views-grid-layout-gap));
  }
  .views-view-grid--horizontal.cols-8 > *:nth-child(4n) {
    margin-inline-end: var(--views-grid-layout-gap);
  }
  .views-view-grid--horizontal.cols-8 > *:nth-child(8n) {
    margin-inline-end: 0;
  }
}
.views-view-grid--horizontal > * {
  flex-grow: 0;
  flex-shrink: 0;
  margin-block-end: var(--views-grid-layout-gap);
}