/**
 * @file
 * Responsive styles for views grid vertical layout.
 */
:root {
  --views-grid-layout-gap: var(--sp);
}

.views-view-grid--vertical {
  margin-block-end: calc(-1 * var(--views-grid-layout-gap));
  /* Offset the bottom row's padding. */
  column-gap: var(--views-grid-layout-gap);
}
@media (--sm) {
  .views-view-grid--vertical.cols-2 {
    column-count: 2;
  }
}
@media (--sm) {
  .views-view-grid--vertical.cols-3 {
    column-count: 2;
  }
}
@media (--md) {
  .views-view-grid--vertical.cols-3 {
    column-count: 3;
  }
}
@media (--sm) {
  .views-view-grid--vertical.cols-4 {
    column-count: 2;
  }
}
@media (--md) {
  .views-view-grid--vertical.cols-4 {
    column-count: 3;
  }
}
@media (--lg) {
  .views-view-grid--vertical.cols-4 {
    column-count: 4;
  }
}
@media (--sm) {
  .views-view-grid--vertical.cols-5 {
    column-count: 2;
  }
}
@media (--md) {
  .views-view-grid--vertical.cols-5 {
    column-count: 3;
  }
}
@media (--lg) {
  .views-view-grid--vertical.cols-5 {
    column-count: 5;
  }
}
@media (--sm) {
  .views-view-grid--vertical.cols-6 {
    column-count: 2;
  }
}
@media (--md) {
  .views-view-grid--vertical.cols-6 {
    column-count: 3;
  }
}
@media (--lg) {
  .views-view-grid--vertical.cols-6 {
    column-count: 6;
  }
}
@media (--sm) {
  .views-view-grid--vertical.cols-7 {
    column-count: 2;
  }
}
@media (--md) {
  .views-view-grid--vertical.cols-7 {
    column-count: 3;
  }
}
@media (--lg) {
  .views-view-grid--vertical.cols-7 {
    column-count: 7;
  }
}
@media (--sm) {
  .views-view-grid--vertical.cols-8 {
    column-count: 2;
  }
}
@media (--md) {
  .views-view-grid--vertical.cols-8 {
    column-count: 4;
  }
}
@media (--lg) {
  .views-view-grid--vertical.cols-8 {
    column-count: 8;
  }
}
.views-view-grid--vertical .views-view-grid__item > * {
  padding-block-end: var(--views-grid-layout-gap);
  break-inside: avoid;
}