/*
 * @file
 * Provides the layout styles for four-column layout section.
 */
/* Navigation related breakpoints */
/* Grid related breakpoints */
.layout--fourcol-section {
  display: flex;
  flex-wrap: wrap;
  /* Two column layout. */
  /* Four column layout. */
}
.layout--fourcol-section > .layout__region {
  flex: 1 0 100%;
  margin-block-end: var(--grid-gap);
}
@media (min-width: 700px) {
  .layout--fourcol-section > .layout__region {
    flex-basis: calc(50% - var(--grid-gap "min-width: 700px") * 0.5);
    flex-grow: 0;
    flex-shrink: 0;
    margin-block-end: 0;
  }
}
@media (min-width: 700px) {
  .layout--fourcol-section > .layout__region--first, .layout--fourcol-section > .layout__region--second {
    margin-block-end: var(--grid-gap "min-width: 700px");
  }
  .layout--fourcol-section > .layout__region--first, .layout--fourcol-section > .layout__region--third {
    margin-inline-end: calc(var(--grid-gap "min-width: 700px") * 0.5);
  }
  .layout--fourcol-section > .layout__region--second, .layout--fourcol-section > .layout__region--fourth {
    margin-inline-start: calc(var(--grid-gap "min-width: 700px") * 0.5);
  }
}
@media (min-width: 1000px) {
  .layout--fourcol-section > .layout__region {
    flex-basis: calc(25% - var(--grid-gap "min-width: 700px") * 0.75);
  }
  .layout--fourcol-section > .layout__region--first, .layout--fourcol-section > .layout__region--second {
    margin-block-end: 0;
  }
  .layout--fourcol-section > .layout__region--first {
    margin-inline-end: calc(var(--grid-gap "min-width: 700px") * 0.5);
  }
  .layout--fourcol-section > .layout__region--second, .layout--fourcol-section > .layout__region--third {
    margin-inline: calc(var(--grid-gap "min-width: 700px") * 0.5);
  }
  .layout--fourcol-section > .layout__region--fourth {
    margin-inline-start: calc(var(--grid-gap "min-width: 700px") * 0.5);
  }
}