/**
 * @file
 * Base Layout.
 */
/* Navigation related breakpoints */
/* Grid related breakpoints */
.container {
  width: 100%;
  max-width: var(--max-width);
  padding-inline: var(--container-padding);
}
@media (min-width: 1200px) {
  .container {
    padding-inline: var(--container-padding-nav);
  }
}

.page-wrapper {
  max-width: var(--max-bg-color);
  background: var(--color--white);
}

/* Contains the social sidebar, and the primary content area. */
@media (min-width: 1200px) {
  .layout-main {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .main-content {
    width: calc(100% - var(--content-left));
    margin-inline-end: auto;
  }
}

.main-content__container {
  padding-block-start: var(--sp3);
}
@media (min-width: 700px) {
  .main-content__container {
    padding-block-start: var(--sp5);
  }
}