/**
 * @file
 * Secondary menu region layout styling.
 */
/* Navigation related breakpoints */
/* Grid related breakpoints */
.region--secondary-menu {
  display: flex;
  margin-block-start: var(--sp2);
  margin-block-end: var(--sp2);
}
.region--secondary-menu > * {
  margin-block-end: 0;
}

@media (min-width: 1100px) {
  body:not(.is-always-mobile-nav) .region--secondary-menu {
    justify-content: flex-end;
    margin: 0;
    /* If the secondary nav is the first item within the header, it does not need left separator. */
  }
  body:not(.is-always-mobile-nav) .region--secondary-menu:first-child .secondary-nav:before {
    content: none;
  }
}