/**
 * @file
 * Region default layout.
 */
/* Navigation related breakpoints */
/* Grid related breakpoints */
.region > * {
  margin-block-end: var(--sp);
}
@media (min-width: 700px) {
  .region > * {
    margin-block-end: var(--sp2);
  }
}
@media (min-width: 1000px) {
  .region > * {
    margin-block-end: var(--sp3);
  }
}