/**
 * @file
 * Content below region layout.
 */
/* Navigation related breakpoints */
/* Grid related breakpoints */
@media (min-width: 700px) {
  .region--content-below {
    display: flex;
    flex-wrap: wrap;
  }
  .region--content-below > * {
    flex-basis: calc(50% - var(--grid-gap "min-width: 700px") / 2);
    flex-grow: 1;
    flex-shrink: 0;
    margin-inline-end: var(--grid-gap "min-width: 700px");
  }
  .region--content-below > *:nth-child(2n), .region--content-below > *:last-child {
    margin-inline-end: 0;
  }
}
@media (min-width: 700px) {
  .region--content-below > * {
    flex-basis: calc(33.33% - var(--grid-gap "min-width: 700px") * 0.667);
  }
  .region--content-below > *:nth-child(2n), .region--content-below > *:last-child {
    margin-inline-end: var(--grid-gap "min-width: 700px");
  }
  .region--content-below > *:nth-child(3n), .region--content-below > *:last-child {
    margin-inline-end: 0;
  }
}