/**
 * @file
 * Region default layout.
 */
/* Navigation related breakpoints */
/* Grid related breakpoints */
.region > * {
  margin-block-end: var(--sp);
}
@media (min-width: 43.75rem) {
  .region > * {
    margin-block-end: var(--sp2);
  }
}
@media (min-width: 62.5rem) {
  .region > * {
    margin-block-end: var(--sp3);
  }
}

.region--content-above {
  margin-top: var(--sp3);
}
@media (min-width: 43.75rem) {
  .region--content-above {
    margin-top: 0;
  }
}