/**
 * @file
 * Content region layout.
 */
/* Navigation related breakpoints */
/* Grid related breakpoints */
.region--content {
  margin-block-end: var(--sp);
}
@media (min-width: 700px) {
  .region--content {
    margin-block-end: var(--sp2);
  }
}
@media (min-width: 1000px) {
  .region--content {
    margin-block-end: var(--sp3);
  }
}
.path-frontpage .region--content {
  margin-bottom: 0;
}
.path-frontpage .region--content > * {
  margin-bottom: 0;
}