/* Navigation related breakpoints */
/* Grid related breakpoints */
.view-session-schedule .view-content {
  display: grid;
  grid-column-gap: var(--grid-gap);
  grid-row-gap: 2.5rem;
  grid-template-columns: 1fr;
}
@media (min-width: 62.5rem) {
  .view-session-schedule .view-content {
    grid-template-columns: 1fr 3fr;
  }
}

@media (min-width: 62.5rem) {
  .view-session-schedule__item {
    grid-column: 2/-1;
  }
}
.view-session-schedule__item:not(.view-session-schedule__title + .view-session-schedule__item) {
  margin-top: var(--grid-gap);
}

.view-session-schedule__divider {
  display: none;
  grid-column: 1/-1;
  width: 100%;
  height: 0;
  margin: 0;
  border-top: solid 2px var(--color--sky-86);
}
@media (min-width: 62.5rem) {
  .view-session-schedule__divider {
    display: block;
  }
}
.view-session-schedule__divider:first-child {
  display: none;
}

.view-session-schedule__title {
  --background: var(--color--sky-94);
  position: sticky;
  z-index: 1;
  top: 0;
  align-self: start;
  margin: 0;
  padding: var(--sp1-5);
  background-color: var(--background);
  color: var(--color--ocean-15);
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 800;
  line-height: var(--sp);
  box-shadow: -3vw 0 0 var(--background), 3vw 0 0 var(--background);
}
@media (min-width: 37.5rem) {
  .view-session-schedule__title {
    top: var(--sp);
    box-shadow: -3vw 0 0 var(--background);
  }
}
@media (min-width: 62.5rem) {
  .view-session-schedule__title {
    grid-column: 1;
    padding: var(--sp) var(--sp1-5);
    box-shadow: none;
  }
}