/* Navigation related breakpoints */
/* Grid related breakpoints */
/* Navigation related breakpoints */
/* Grid related breakpoints */
.block-views-blockall-sponsors-block-1 {
  margin-bottom: 0;
}

.view-all-sponsors {
  padding: var(--sp3) 0;
  background-color: var(--color--sky-94);
  box-shadow: 20vw 0 0 var(--color--sky-94), -20vw 0 0 var(--color--sky-94);
}
@media (min-width: 43.75rem) {
  .view-all-sponsors {
    padding: 4rem 0;
  }
}
@media (min-width: 62.5rem) {
  .view-all-sponsors {
    padding: 4.5rem 0;
    box-shadow: none;
  }
}
@media (min-width: 81.25rem) {
  .view-all-sponsors {
    padding: 5.5rem 0;
  }
}
.path-frontpage .view-all-sponsors {
  position: relative;
}

.views-category-grid {
  grid-row-gap: var(--grid-gap);
}

.views-category-grid__label {
  grid-column: 2/-2;
}
@media (min-width: 62.5rem) {
  .views-category-grid__label {
    grid-column: 2/4;
  }
}

.views-category-grid__title {
  margin-top: 0;
  border-left: solid 4px var(--color--sun-55);
  padding-left: 1.25rem;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: var(--sp);
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--color--night-20);
  margin: var(--sp3) 0 0;
}
@media (min-width: 81.25rem) {
  .views-category-grid__title {
    font-size: 0.875rem;
    line-height: var(--sp1-5);
  }
}

.views-sponsor-grid {
  grid-column: 2/-2;
  margin: calc(var(--grid-gap) / 2) 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--grid-gap);
}
@media (min-width: 37.5rem) {
  .views-sponsor-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 62.5rem) {
  .views-sponsor-grid {
    grid-column: 4/-2;
  }
}
@media (min-width: 50rem) {
  .views-sponsor-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.views-all-sponsors__sponsor.Platinum {
  grid-column: 1/-1;
}