/* Navigation related breakpoints */
/* Grid related breakpoints */
/* Navigation related breakpoints */
/* Grid related breakpoints */
.view-sponsors-sidebar {
  padding: 3rem;
  background-color: var(--color--sky-94);
  box-shadow: 50vw 0 0 var(--color--sky-94), -50vw 0 0 var(--color--sky-94);
}
@media (min-width: 37.5rem) {
  .view-sponsors-sidebar {
    box-shadow: none;
  }
}
.view-sponsors-sidebar .sponsor-teaser {
  margin-bottom: var(--grid-gap);
}
.view-sponsors-sidebar .sponsor-teaser:last-child {
  margin-bottom: 0;
}

.view-sponsors-sidebar__title {
  margin-top: 0;
  border-left: solid 4px var(--color--sun-55);
  padding-left: 1.25rem;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--color--night-20);
  margin: 3rem 0 var(--grid-gap);
}
@media (min-width: 81.25rem) {
  .view-sponsors-sidebar__title {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}
.view-sponsors-sidebar__title:first-of-type {
  margin-top: 0;
}