/* Navigation related breakpoints */
/* Grid related breakpoints */
.block-views-exposed-filter-blocksession-list-page-1 {
  grid-column-start: var(--sidebar-grid-start);
}
.block-views-exposed-filter-blocksession-list-page-1 .block__content {
  display: block;
}

#views-exposed-form-session-list-page-1 > * {
  display: inline-block;
}

.view-details-list__submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--sp0-5);
  margin-bottom: var(--sp4);
  padding: var(--sp) var(--sp2);
  background-color: var(--color--sky-94);
}
.view-details-list__submit .button {
  margin: 0;
}

.view-details-list__item {
  margin-bottom: 4.5rem;
}
.view-details-list__item .session__field--field-r {
  display: none;
}