/**
 * @file
 * Styles for views.
 */
/* Navigation related breakpoints */
/* Grid related breakpoints */
.view > * {
  margin-block-end: var(--sp2);
}
.view > *:last-child {
  margin-block-end: 0;
}
@media (min-width: 43.75rem) {
  .view > * {
    margin-block-end: var(--sp3);
  }
}