/* Navigation related breakpoints */
/* Grid related breakpoints */
/* Navigation related breakpoints */
/* Grid related breakpoints */
.view-all-sponsors {
  padding: 48px 0;
  background-color: var(--color--sky-94);
  box-shadow: 20vw 0 0 var(--color--sky-94), -20vw 0 0 var(--color--sky-94);
}
@media (min-width: 700px) {
  .view-all-sponsors {
    padding: 64px 0;
    box-shadow: none;
  }
}
@media (min-width: 1000px) {
  .view-all-sponsors {
    padding: 72px 0;
  }
}
@media (min-width: 1300px) {
  .view-all-sponsors {
    padding: 88px 0;
  }
}

.views-category-grid {
  grid-row-gap: var(--grid-gap);
}

.views-category-grid__label {
  grid-column: 1/-1;
}
@media (min-width: 700px) {
  .views-category-grid__label {
    grid-column: 2/-2;
  }
}
@media (min-width: 1000px) {
  .views-category-grid__label {
    grid-column: 2/4;
  }
}

.views-category-grid__title {
  margin-top: 0;
  border-left: solid 4px var(--color--sun-55);
  padding-left: 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--color--night-20);
}
@media (min-width: 1300px) {
  .views-category-grid__title {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (min-width: 1000px) {
  .views-category-grid__title {
    margin-top: 48px;
  }
}

.views-sponsor-grid {
  grid-column: 1/-1;
  margin: calc(var(--grid-gap) / 2) 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--grid-gap);
}
@media (min-width: 450px) {
  .views-sponsor-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 700px) {
  .views-sponsor-grid {
    grid-column: 2/-2;
  }
}
@media (min-width: 1000px) {
  .views-sponsor-grid {
    grid-column: 4/-2;
  }
}
@media (min-width: 800px) {
  .views-sponsor-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}