.featured-speaker {
  --color-background: var(--neutral-dark);
  --color-text: var(--text-on-neutral-dark);
  --color-subtext: var(--text-on-neutral-dark-primary);
}

.featured-speaker__img {
  position: relative; // Anchor badge field.
  background: linear-gradient(to top, var(--teal) 75%, transparent 75%);

  .view-featured-speakers__item:nth-child(odd) & {
    background: linear-gradient(to top, var(--pink-light) 75%, transparent 75%);
  }

  img {
    filter: grayscale(1) contrast(180%);
    transition: filter 0.2s;

    &:hover {
      filter: grayscale(0) contrast(150%);
      opacity: 1;
    }
  }
}

.featured-speaker__link {
  display: block; // Necessary for focus outline.
  text-decoration: none;
}

.featured-speaker__badge {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 6px 12px 0 0;
  background: var(--color-background);
  color: var(--color-subtext);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: var(--sp1-5);
  letter-spacing: 0.08em;
}

.featured-speaker__title {
  margin: var(--sp1-5) 0 var(--sp0-5);
  font-size: 20px;
  font-weight: 700;
  line-height: var(--sp1-5);
  text-align: left;
  color: var(--color-text);
}

.featured-speaker__desc {
  font-size: 14px;
  color: var(--color-subtext);

  .text-content {
    font-size: inherit;
    line-height: var(--sp1-5);
  }
}
