@property --image-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}
@property --image-fill {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 100%;
}
.featured-speaker {
  --color-background: var(--neutral-dark);
  --color-text: var(--text-on-neutral-dark);
  --color-subtext: var(--text-on-neutral-dark-primary);
}

.featured-speaker__img {
  --image-angle: 0deg;
  --image-fill: 75%;
  position: relative;
  background: linear-gradient(var(--image-angle), var(--teal) var(--image-fill), transparent var(--image-fill));
  transition: --image-fill 0.2s;
}
.featured-speaker__img:hover {
  --image-fill: 95%;
}
.view-featured-speakers__item:nth-child(odd) .featured-speaker__img {
  background: linear-gradient(var(--image-angle), var(--pink-light) var(--image-fill), transparent var(--image-fill));
}
.featured-speaker__img img {
  filter: grayscale(1) contrast(180%);
  transition: filter 0.2s;
}
.featured-speaker__img img:hover {
  filter: grayscale(0) contrast(150%);
  opacity: 1;
}

.featured-speaker__link {
  display: block;
  text-decoration: none;
}

.featured-speaker__badge {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.375rem 0.75rem 0 0;
  background: var(--color-background);
  color: var(--color-subtext);
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: var(--sp1-5);
  letter-spacing: 0.08em;
}

.featured-speaker__title {
  margin: var(--sp1-5) 0 var(--sp0-5);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: var(--sp1-5);
  text-align: left;
  color: var(--color-text);
}

.featured-speaker__desc {
  font-size: 0.875rem;
  color: var(--color-subtext);
}
.featured-speaker__desc .text-content {
  font-size: inherit;
  line-height: var(--sp1-5);
}