@property --image-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

@property --image-fill {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 100%;
}

@keyframes enter {
  from {
    --image-fill: 20%;
  }

  to {
    --image-fill: 75%
  }
}

.featured-speaker {
  --color-background: var(--neutral-dark);
  --color-text: var(--text-on-neutral-dark);
  --color-subtext: var(--text-on-neutral-dark-primary);
}

.featured-speaker__img {
  --image-angle: 0deg;
  --image-fill: 75%;

  position: relative; // Anchor badge field.
  background: linear-gradient(var(--image-angle), var(--teal) var(--image-fill), transparent var(--image-fill));
  transition: --image-fill 0.2s;
  animation-name: enter;
  animation-timeline: view();
  animation-fill-mode: backwards;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-range: entry 90% exit -30vh;

  @media (prefers-reduced-motion: reduce) {
    animation-name: none;
    transition: none;
  }

  .view-featured-speakers__item:nth-child(2 of .view-featured-speakers__item) & {
    animation-range: entry calc(90% + 10vh) exit -25vh;
  }

  .view-featured-speakers__item:nth-child(3 of .view-featured-speakers__item) & {
    animation-range: entry calc(90% + 20vh) exit -20vh;
  }

  .featured-speaker__link:hover & {
    --image-fill: 95%;
  }

  .view-featured-speakers__item:nth-child(odd) & {
    background: linear-gradient(var(--image-angle), var(--pink-light) var(--image-fill), transparent var(--image-fill));
  }

  img {
    filter: grayscale(1) contrast(180%);
    transition: filter 0.2s;

    &:hover {
      filter: grayscale(0) contrast(150%);
      opacity: 1;
    }
  }
}

.featured-speaker__link {
  display: block; // Necessary for focus outline.
  text-decoration: none;
}

.featured-speaker__badge {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 6px 12px 0 0;
  background: var(--color-background);
  color: var(--color-subtext);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: var(--sp1-5);
  letter-spacing: 0.08em;
}

.featured-speaker__title {
  margin: var(--sp1-5) 0 var(--sp0-5);
  font-size: 20px;
  font-weight: 700;
  line-height: var(--sp1-5);
  text-align: left;
  color: var(--color-text);
}

.featured-speaker__desc {
  font-size: 14px;
  color: var(--color-subtext);

  .text-content {
    font-size: inherit;
    line-height: var(--sp1-5);
  }
}
