/* Navigation related breakpoints */
/* Grid related breakpoints */
body .site-hero {
  padding-bottom: var(--sp3);
}
@media (min-width: 37.5rem) {
  body .site-hero {
    padding-bottom: 4rem;
  }
}
@media (min-width: 62.5rem) {
  body .site-hero {
    padding-bottom: 6rem;
  }
}
body .site-hero__details {
  grid-column: 1/-2;
  display: flex;
  height: 3.5rem;
  white-space: nowrap;
}
@media (min-width: 37.5rem) {
  body .site-hero__details {
    grid-column: 1/6;
  }
}
body .site-hero__details-item {
  display: block;
  padding: var(--sp) var(--sp1-5);
  text-transform: uppercase;
  font-family: var(--font-sans);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: var(--sp1-5);
  letter-spacing: 0.06em;
  background: var(--color--sky-94);
}
body .site-hero__details-item:first-child {
  position: relative;
  background: var(--color--sky-80);
}
body .site-hero__details-item:first-child:after {
  content: "";
  background: var(--color--sky-80);
  position: absolute;
  right: 100%;
  top: 0;
  height: 100%;
  width: 50vw;
}
body .site-hero__main {
  margin: var(--sp3) 0 var(--sp2);
}
@media (min-width: 37.5rem) {
  body .site-hero__main {
    grid-row: 2;
    grid-column: 1/6;
    margin: 0;
  }
}
@media (min-width: 81.25rem) {
  body .site-hero__main {
    grid-column: 2/6;
  }
}
body .site-hero__title {
  margin-block: var(--sp);
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--color--night-5);
}
@media (min-width: 43.75rem) {
  body .site-hero__title {
    margin-block: var(--sp2);
  }
}
@media (min-width: 50rem) {
  body .site-hero__title {
    font-size: 3.5rem;
  }
}
@media (min-width: 62.5rem) {
  body .site-hero__title {
    font-size: 5rem;
  }
}
body .site-hero__desc {
  font-size: 1rem;
  line-height: var(--sp2);
}
body .site-hero__media {
  position: relative;
}
@media (min-width: 37.5rem) {
  body .site-hero__media {
    grid-column: 7/-1;
    grid-row: span 2;
  }
}
@media (min-width: 81.25rem) {
  body .site-hero__media {
    grid-column: 9/-1;
  }
}
body .site-hero__media img,
body .site-hero__media video {
  width: 100%;
  aspect-ratio: 544/480;
  object-fit: cover;
}
body .site-hero__play-pause {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 5rem;
  width: 5rem;
  background: rgba(170, 222, 238, 0.8);
  border: solid 2px transparent;
  text-indent: -62.4375rem;
  overflow: hidden;
  transition: background 0.2s;
}
body .site-hero__play-pause:hover {
  background: rgba(255, 255, 255, 0.8);
}
body .site-hero__play-pause:focus {
  outline: solid 2px currentColor;
  border-radius: 0;
  outline-offset: -6px;
}
body .site-hero__play-pause[aria-pressed=true]:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  margin-left: 1px;
  border-left: solid 15px currentColor;
  border-top: solid 10px transparent;
  border-bottom: solid 10px transparent;
}
body .site-hero__play-pause[aria-pressed=false]:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.9375rem;
  height: 0.9375rem;
  transform: translate(-50%, -50%);
  border-left: solid 4px currentColor;
  border-right: solid 4px currentColor;
}
body .site-hero__media-cta {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: var(--sp1-5) var(--sp2);
  background: var(--color--white);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: var(--sp1-5);
  text-decoration: none;
  color: var(--color--ocean-30);
  transition: color 0.2s;
}
body .site-hero__media-cta:focus {
  outline: solid 2px currentColor;
  border-radius: 0;
  outline-offset: -6px;
}
body .site-hero__media-cta:hover {
  color: var(--color--ocean-10);
}
body .site-hero__media-cta:hover svg {
  transform: translatex(0.3125rem);
}
body .site-hero__media-cta:hover path {
  fill: var(--color--ocean-55);
}
body .site-hero__media-cta svg {
  transition: transform 0.2s;
}
body .site-hero__media-cta path {
  fill: var(--color--sun-55);
  transition: fill 0.2s;
}