/**
 * @file
 * Collapsible details.
 */
/* Navigation related breakpoints */
/* Grid related breakpoints */
.pubsub-details {
  --details-border-width: 1px;
  --details-summary-transition: background-color 0.12s ease-in-out;
  --details-border-color: var(--form-element-border);
  --details-border-radius: 3px;
  display: block;
  color: inherit;
  border: var(--details-border-width) solid var(--details-border-color);
  border-radius: var(--details-border-radius);
  box-shadow: 0 1px 4px var(--color--sky-94);
  background: var(--color--white);
}

/* Details summary styles */
.pubsub-details__summary {
  position: relative;
  padding-block: var(--sp1);
  padding-inline-start: var(--sp2);
  padding-inline-end: var(--sp1);
  list-style: none;
  cursor: pointer;
  transition: var(--details-summary-transition);
  word-wrap: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
  color: inherit;
  background-color: var(--color--gray-95);
  font-size: var(--line-height-s);
  font-weight: 700;
  line-height: var(--sp1);
}

/* Arrow icon */
.pubsub-details__summary:before,
.collapse-processed > .pubsub-details__summary .details-title:before {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: var(--sp0-75);
  display: block;
  width: 10px;
  height: 10px;
  content: "";
  transform: translateY(-50%) rotate(45deg);
  /* LTR */
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
}

[dir=rtl] .pubsub-details__summary:before, [dir=rtl] .collapse-processed > .pubsub-details__summary .details-title:before {
  transform: translateY(-50%) rotate(-135deg);
}

/* Pseudo-selector to manage focus styles */
.pubsub-details__summary:after,
.collapse-processed > .pubsub-details__summary .details-title:after {
  position: absolute;
  inset: calc(var(--details-border-width) * -1);
  content: "";
  pointer-events: none;
  opacity: 0;
  border-radius: var(--details-border-radius);
  box-shadow: inset 0 0 0 2px var(--color--ocean-55);
}

/* Hide the marker */
.pubsub-details__summary::-webkit-details-marker {
  display: none;
}

/* Disable default outline for summary, since we have own implementation */
.pubsub-details__summary:focus {
  outline: solid 2px transparent;
  outline-offset: -4px;
}

/* Details summary, hover state */
.pubsub-details__summary:hover {
  background-color: var(--details-border-color);
}

/* Details summary, focus and active states */
.pubsub-details__summary:focus:after,
.pubsub-details__summary:active:after,
.collapse-processed > .pubsub-details__summary .details-title:focus:after,
.collapse-processed > .pubsub-details__summary .details-title:active:after {
  opacity: 1;
}

/* Rotate arrow icon of the details summary, when details expanded */
.pubsub-details[open] > .pubsub-details__summary::before,
.collapse-processed[open] > .pubsub-details__summary .details-title::before {
  margin-block-start: -2px;
  transform: translateY(-50%) rotate(135deg);
}

/* Collapse processed for non-supporting browsers like IE or Edge */
.collapse-processed > .pubsub-details__summary {
  padding-block: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}
.collapse-processed > .pubsub-details__summary:before {
  content: none;
}
.collapse-processed > .pubsub-details__summary:after {
  content: none;
}

.collapse-processed > .pubsub-details__summary .details-title {
  position: relative;
  display: block;
  padding-block: var(--sp1);
  padding-inline-start: var(--sp2);
  padding-inline-end: var(--sp1);
  transition: var(--details-summary-transition);
  text-decoration: none;
  color: inherit;
  background-color: var(--color--gray-95);
}

.collapse-processed > .pubsub-details__summary .details-title:focus {
  outline: solid 2px transparent;
}

.collapse-processed > .pubsub-details__summary .details-title:hover {
  background-color: var(--details-border-color);
}

@media screen and (-ms-high-contrast: active) {
  .collapse-processed > .pubsub-details__summary .details-title::after {
    inset: -5px;
    border: 2px dotted;
  }
}
/* Details content wrapper */
.pubsub-details__wrapper {
  margin: var(--sp1);
}
@media (min-width: 1000px) {
  .pubsub-details__wrapper {
    margin-block-start: var(--sp1-5);
    margin-block-end: var(--sp1-5);
    margin-inline-start: var(--sp2);
    margin-inline-end: var(--sp2);
  }
}

/* Description */
.pubsub-details__description {
  margin-block-end: var(--sp1);
  color: var(--color--gray-10);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-s);
}