/**
 * @file
 * Embedded Media.
 */
/* Navigation related breakpoints */
/* Grid related breakpoints */
figure {
  background: var(--color--gray-95);
}

figcaption {
  padding-block: var(--sp0-5);
  padding-inline-start: var(--sp0-5);
  padding-inline-end: var(--sp0-5);
  color: var(--color--gray-10);
  background: var(--color--gray-95);
  font-family: var(--font-serif);
  font-size: 14px;
  font-style: italic;
  line-height: var(--sp);
}
@media (min-width: 500px) {
  figcaption {
    padding-block: var(--sp);
    padding-inline-start: var(--sp);
    padding-inline-end: var(--sp);
  }
}

.align-right {
  float: none;
  /* Override core's align.module.css. */
  max-width: 100%;
  margin-block: var(--sp3);
  margin-inline-start: 0;
  margin-inline-end: 0;
}
@media (min-width: 800px) {
  .align-right {
    float: inline-end;
    max-width: 50%;
    margin-block-start: var(--sp);
    margin-block-end: var(--sp);
    margin-inline-start: var(--sp);
    margin-inline-end: 0;
  }
}

.align-left {
  float: none;
  /* Override core's align.module.css. */
  max-width: 100%;
  margin-block-start: var(--sp3);
  margin-block-end: var(--sp3);
  margin-inline-start: 0;
  margin-inline-end: 0;
}
@media (min-width: 800px) {
  .align-left {
    float: inline-start;
    max-width: 50%;
    margin-block-start: var(--sp);
    margin-block-end: var(--sp);
    margin-inline-start: 0;
    margin-inline-end: var(--sp2);
    /* Extra right margins in case of aligning next to lists. */
  }
}

.align-center img,
.align-center video,
.align-center audio {
  margin-inline: auto;
}

.media-oembed-content {
  display: block;
  max-width: 100%;
}