/**
 * @file
 * Styles for pagination.
 */
/* Navigation related breakpoints */
/* Grid related breakpoints */
.pager {
  --pager--text-color: var(--color--night-40);
  --pager--background: var(--color--white);
  --pager--highlight: var(--color--ocean-15);
  --pager--hover-bg: var(--color--sky-97);
}

.pager__items {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-block: 0;
  margin-inline-start: 0;
  padding-block: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  list-style: none;
  font-weight: bold;
  font-size: 18px;
}

.pager__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--sp2-5);
  height: var(--sp2-5);
  cursor: default;
  color: var(--pager--text-color);
  background-color: var(--pager--background);
}
@media (min-width: 500px) {
  .pager__item {
    width: var(--sp3);
    height: var(--sp3);
  }
}

[dir=rtl] .pager__item--control {
  transform: scaleX(-1);
}

.pager__item--active {
  color: var(--pager--background);
  background-color: var(--pager--highlight);
}

.pager__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--pager--text-color);
}

.pager__link:hover {
  background-color: var(--pager--hover-bg);
}

.pager__link:focus {
  color: var(--pager--highlight);
  outline: solid 2px var(--pager--highlight);
  outline-offset: -2px;
}

.pager__item svg {
  display: block;
  fill: currentColor;
}

.pager__item--next svg,
.pager__item--last svg {
  transform: rotate(180deg);
}