/* Navigation related breakpoints */
/* Grid related breakpoints */
.tabs {
  --tab-active-border-size: 6px;
  --line-color: var(--color--sun-55);
  --border-color: var(--color--sky-90);
  --background-color: var(--color--sky-97);
  --background-hover-color: var(--color--sky-80);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-block: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  list-style: none;
}
@media (min-width: 700px) {
  .tabs {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.tabs__tab {
  display: none;
  margin: 0;
  margin-block-end: -1px;
}
.tabs__tab.is-active {
  display: flex;
}
@media (min-width: 700px) {
  .tabs__tab {
    display: flex;
    margin: 0;
    margin-block-end: -1px;
  }
}

html:not(.js) .tabs__tab,
.tabs.is-expanded .tabs__tab {
  display: flex;
}

.tabs--secondary .tabs__tab {
  display: block;
}
@media (min-width: 700px) {
  .tabs--secondary .tabs__tab {
    display: flex;
  }
}

.tabs__link {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: var(--sp3);
  padding-block: 0;
  padding-inline-start: var(--sp1-5);
  padding-inline-end: var(--sp1-5);
  transition: background-color 0.2s;
  text-decoration: none;
  letter-spacing: 1px;
  color: var(--color--night-20);
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  font-size: 14px;
}

.tabs--secondary .tabs__link {
  text-transform: none;
}
@media (min-width: 700px) {
  .tabs--secondary .tabs__link {
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    background-color: transparent;
  }
}

.tabs__link:hover {
  background-color: var(--background-hover-color);
}

.tabs__link.is-active {
  position: relative;
  color: var(--color--gray-0);
  font-weight: 600;
}
.tabs__link.is-active:after {
  position: absolute;
  inset-block-end: -1px;
  inset-inline-start: -1px;
  height: calc(100% + 2px);
  content: "";
  border-inline-start: var(--tab-active-border-size) solid var(--line-color);
}
@media (min-width: 700px) {
  .tabs__link.is-active:after {
    inset-inline-start: 0;
    width: 100%;
    height: auto;
    border-block-start: var(--tab-active-border-size) solid var(--line-color);
    border-inline-start: 0;
  }
}

.tabs__trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--sp3);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: -1px;
  margin-inline-end: 0;
  cursor: pointer;
  border: solid 1px var(--border-color);
  background-color: var(--background-color);
}
.tabs__trigger:hover {
  background-color: var(--background-hover-color);
}
@media (min-width: 700px) {
  .tabs__trigger {
    display: none;
  }
}

html:not(.js) .tabs__trigger {
  display: none;
}

.tabs__trigger-icon {
  position: relative;
  display: block;
  width: var(--sp);
  height: 10px;
  margin-block-start: -2px;
}
.tabs__trigger-icon > span {
  position: absolute;
  inset-inline-start: 0;
  display: block;
  width: 100%;
  transition: transform 0.2s, opacity 0.2s, top 0.2s;
  border-block-start: solid 2px var(--line-color);
}
.tabs__trigger-icon > span:nth-child(1) {
  inset-block-start: 0;
}
.tabs__trigger-icon > span:nth-child(2) {
  inset-block-start: calc(50% + 1px);
}
.tabs__trigger-icon > span:nth-child(3) {
  inset-block-start: calc(100% + 2px);
}

.tabs__trigger[aria-expanded=true] .tabs__trigger-icon > span:nth-child(1) {
  inset-block-start: calc(50% + 1px);
  transform: rotate(45deg);
}
.tabs__trigger[aria-expanded=true] .tabs__trigger-icon > span:nth-child(2) {
  opacity: 0;
}
.tabs__trigger[aria-expanded=true] .tabs__trigger-icon > span:nth-child(3) {
  inset-block-start: calc(50% + 1px);
  transform: rotate(-45deg);
}