/* Navigation related breakpoints */
/* Grid related breakpoints */
.vertical-tabs {
  --vertical-tabs-menu-width: 15rem;
  --vertical-tabs-menu-border-width: 1px;
  --vertical-tabs-menu-border-color: var(--color--night-50);
  --vertical-tabs-inactive-bg: var(--color--sky-97);
  --vertical-tabs-link-color: var(--color--ocean-10);
}
@media (min-width: 1000px) {
  .vertical-tabs {
    display: flex;
  }
}

.vertical-tabs__menu {
  position: relative;
  align-self: flex-start;
  margin: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  list-style: none;
  border-width: var(--vertical-tabs-menu-border-width);
  border-style: solid;
  border-color: var(--vertical-tabs-menu-border-color);
}
@media (min-width: 1000px) {
  .vertical-tabs__menu {
    width: var(--vertical-tabs-menu-width);
    border-width: var(--vertical-tabs-menu-border-width) 0 var(--vertical-tabs-menu-border-width) var(--vertical-tabs-menu-border-width);
  }
}

.vertical-tabs__panes {
  margin-block-start: calc(var(--vertical-tabs-menu-border-width) * -1);
}
@media (min-width: 1000px) {
  .vertical-tabs__panes {
    width: calc(100% - var(--vertical-tabs-menu-width));
    margin-block-start: 0;
  }
}

@media (min-width: 1000px) {
  .vertical-tabs__pane {
    min-height: 100%;
  }
}

.vertical-tabs__pane.olivero-details {
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}

.vertical-tabs__pane > summary {
  display: none;
}

.vertical-tabs__menu-item:nth-child(n+2) {
  border-block-start: var(--vertical-tabs-menu-border-width) solid var(--vertical-tabs-menu-border-color);
}

.vertical-tabs__menu-item a {
  display: block;
  padding-block: var(--sp0-5);
  padding-inline-start: var(--sp0-75);
  padding-inline-end: var(--sp0-75);
  text-decoration: none;
  color: var(--vertical-tabs-link-color);
  background-color: var(--vertical-tabs-inactive-bg);
}
.vertical-tabs__menu-item a:focus, .vertical-tabs__menu-item a:hover, .vertical-tabs__menu-item a:active {
  background-color: var(--color--gray-95);
}

.vertical-tabs__menu-item.is-selected {
  background-color: var(--color--white);
}
@media (min-width: 1000px) {
  .vertical-tabs__menu-item.is-selected {
    margin-inline-end: calc(var(--vertical-tabs-menu-border-width) * -1);
    padding-inline-end: var(--vertical-tabs-menu-border-width);
  }
}

.vertical-tabs__menu-item.is-selected a {
  background-color: transparent;
}

.vertical-tabs__menu-item-summary {
  display: block;
  font-size: 0.875rem;
}