/* Navigation related breakpoints */
/* Grid related breakpoints */
.site-hero-details {
  --border-width: 1px;
  --wide-width: 25rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-block: 2rem;
  border: solid var(--border-width) black;
  font-weight: 600;
  font-size: 0.75rem;
}
@container (min-width: 700px) {
  .site-hero-details {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 5;
    width: var(--wide-width);
    margin: 0;
    rotate: -90deg;
    transform-origin: top left;
    font-size: 1rem;
    letter-spacing: 1.6px;
  }
}

.site-hero-details__item {
  padding: 0.75rem 1rem;
  text-transform: uppercase;
  white-space: nowrap;
}
@container (min-width: 700px) {
  .site-hero-details__item {
    padding: 0.75rem 1.25rem;
  }
}
.site-hero-details__item:first-child {
  border-right: solid 1.5px black;
  color: var(--text-on-neutral-primary);
}

.site-hero-details__button {
  display: flex;
  width: 3rem;
  padding: 0;
  aspect-ratio: 1;
  border-color: transparent;
  background: var(--neutral-dark);
  color: var(--text-on-neutral-dark-secondary);
}
.site-hero-details__button:after {
  content: "";
  width: 1.5rem;
  aspect-ratio: 1;
  margin: auto;
  -webkit-mask-image: url("images/calendar.svg");
          mask-image: url("images/calendar.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  background: currentColor;
  rotate: 90deg;
}

.site-hero-details__flyout {
  position: absolute;
  top: 100%;
  left: calc(-1 * var(--border-width));
  z-index: 1;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  gap: 1rem;
  padding: 1.5rem 1rem;
  border: solid var(--border-width) var(--neutral-dark);
  background: var(--neutral-dark);
  color: var(--text-on-neutral-dark);
  min-width: calc(100% + 2 * var(--border-width));
}
@container (min-width: 700px) {
  .site-hero-details__flyout {
    left: calc(100% + var(--border-width));
    min-width: unset;
    height: calc(var(--wide-width) + 2 * var(--border-width));
    rotate: 90deg;
    transform-origin: top left;
  }
}
[aria-expanded=true] + .site-hero-details__flyout {
  visibility: visible;
}

.site-hero-details__flyout-general {
  padding: 0 1rem;
}

.site-hero-details__flyout-general-date {
  color: var(--text-on-neutral-dark);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.3;
}

.site-hero-details__flyout-general-location {
  color: var(--text-on-neutral-dark-primary);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.site-hero-details__flyout-day a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.site-hero-details__flyout-day a:hover {
  background: var(--secondary);
  color: var(--text-on-secondary);
}

.site-hero-details__flyout-day-heading {
  color: var(--text-on-neutral-dark-primary);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.7;
  letter-spacing: 0.84px;
  text-transform: uppercase;
}
a:hover .site-hero-details__flyout-day-heading {
  color: var(--text-on-secondary);
}

.site-hero-details__flyout-day-info {
  color: var(--text-on-neutral-dark);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--teal);
          text-decoration-color: var(--teal);
  text-underline-offset: 0.375rem;
}
a:hover .site-hero-details__flyout-day-info {
  color: var(--text-on-secondary);
}