/**
 * @file
 * Buttons.
 */
/* Navigation related breakpoints */
/* Grid related breakpoints */
/* Navigation related breakpoints */
/* Grid related breakpoints */
.button {
  --button-color-bg: var(--color--white);
  --button-color-primary: var(--color--ocean-15);
  --button-color-primary-dark: var(--color--ocean-10);
  --button-border-radius: 3px;
  --button-line-height: 18px;
  display: inline-flex;
  align-items: center;
  height: var(--sp3);
  margin-block: var(--sp1);
  margin-inline-start: 0;
  margin-inline-end: var(--sp1);
  padding: 1px var(--sp1-5);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: var(--button-color-primary);
  border: solid 2px var(--button-color-primary);
  border-radius: var(--button-border-radius);
  background-color: var(--button-color-bg);
  font-family: inherit;
  font-size: var(--font-size-l);
  font-weight: 700;
  line-height: var(--button-line-height);
  -webkit-appearance: none;
          appearance: none;
  -webkit-font-smoothing: antialiased;
  touch-action: manipulation;
}
.button:hover, .button:focus {
  text-decoration: none;
  color: var(--button-color-primary-dark);
  border: solid 2px var(--button-color-primary-dark);
  background: none;
  font-weight: 700;
}
.button:active {
  color: var(--button-color-primary);
  border-color: var(--button-color-primary);
}
.button:disabled, .button.is-disabled {
  cursor: default;
  color: var(--color--gray-70);
  border-color: var(--color--gray-70);
}

/* No margin if is part of a menu. */
.menu .button {
  margin-block: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.button--small {
  height: var(--sp2-5);
  padding-inline: var(--sp);
  font-size: 1rem;
  line-height: normal;
}

.button--primary {
  --button-color-bg: var(--color--white);
  --button-color-primary: var(--color--ocean-15);
  --button-color-primary-dark: var(--color--ocean-10);
  --button-border-radius: 3px;
  --button-line-height: 18px;
  display: inline-flex;
  align-items: center;
  height: var(--sp3);
  margin-block: var(--sp1);
  margin-inline-start: 0;
  margin-inline-end: var(--sp1);
  padding: 1px var(--sp1-5);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: var(--button-color-primary);
  border: solid 2px var(--button-color-primary);
  border-radius: var(--button-border-radius);
  background-color: var(--button-color-bg);
  font-family: inherit;
  font-size: var(--font-size-l);
  font-weight: 700;
  line-height: var(--button-line-height);
  -webkit-appearance: none;
          appearance: none;
  -webkit-font-smoothing: antialiased;
  touch-action: manipulation;
  color: var(--button-color-bg);
  background-color: var(--button-color-primary);
}
.button--primary:hover, .button--primary:focus {
  text-decoration: none;
  color: var(--button-color-primary-dark);
  border: solid 2px var(--button-color-primary-dark);
  background: none;
  font-weight: 700;
}
.button--primary:active {
  color: var(--button-color-primary);
  border-color: var(--button-color-primary);
}
.button--primary:disabled, .button--primary.is-disabled {
  cursor: default;
  color: var(--color--gray-70);
  border-color: var(--color--gray-70);
}
.button--primary:hover, .button--primary:focus {
  color: var(--button-color-bg);
  border-color: var(--button-color-primary-dark);
  background-color: var(--button-color-primary-dark);
}
.button--primary:active {
  color: var(--button-color-bg);
  background-color: var(--button-color-primary);
}
.button--primary:disabled, .button--primary.is-disabled {
  color: var(--color--night-35);
  background-color: var(--color--night-90);
}

.button--icon-back {
  display: inline-flex;
  align-items: center;
}
.button--icon-back:before {
  display: block;
  width: 0.5em;
  height: 0.5em;
  margin-inline-end: 0.5em;
  content: "";
  transform: rotate(45deg);
  /* LTR */
  border-block-end: solid 2px currentColor;
  border-inline-start: solid 2px currentColor;
}