/**
 * @file
 * Select input elements.
 */
/* Navigation related breakpoints */
/* Grid related breakpoints */
:root {
  --form-element-select-icon: url("../../images/chevron-down.svg");
}

select {
  max-width: 100%;
  height: var(--sp3);
  padding-block: 0;
  padding-inline-start: var(--sp);
  padding-inline-end: var(--sp3);
  color: var(--color--gray-0);
  border: 1px solid var(--color--gray-30);
  border-radius: var(--border-radius);
  background-color: var(--color--white);
  background-image: var(--form-element-select-icon);
  background-repeat: no-repeat;
  background-position: right var(--sp) center;
  /* LTR */
  font-family: inherit;
  font-size: inherit;
  appearance: none;
  /* Necessary to show chevron in forced colors mode in modern browsers. */
}
select:focus {
  border: solid 2px var(--color--blue-50);
  outline: solid 2px var(--color--blue-50);
}
@supports (outline-style: double) {
  select:focus {
    border-width: 1px;
    outline-width: 6px;
    outline-style: double;
    outline-offset: -1px;
  }
}
select[disabled] {
  color: var(--color--gray-30);
  background-color: var(--color--gray-90);
}
select.error {
  border: solid 2px var(--color--red);
}
select.error:focus {
  outline-color: var(--color--red);
}
select[multiple] {
  height: auto;
  padding: var(--sp0-5);
  background-image: none;
  line-height: 1;
  /* Needed by non-Chromium based MS Edge browsers. */
}
select[multiple] option {
  padding: var(--sp0-5);
}
select.form-element--small {
  height: var(--sp2-5);
}
@media (forced-colors: active) {
  select {
    padding-inline-end: var(--sp);
    background-image: none;
    appearance: listbox;
    /* Default <select> appearance value for modern browsers. */
    /* Lets browser set <select> appearance to whatever the browser's default is. */
  }
  @supports (appearance: revert) {
    select {
      appearance: revert;
    }
  }
}