/**
 * @file
 * Navigation in header.
 */
.header-nav {
  position: fixed;
  z-index: 105;
  /* appear above overlay */
  inset-block-start: 0;
  inset-inline-start: 100%;
  visibility: hidden;
  overflow: auto;
  /* Ensure that header nav not use additional space and force
     system branding block text to unnecessarily wrap. */
  flex-basis: 0;
  width: 100%;
  max-width: var(--mobile-nav-width);
  height: 100%;
  padding-block: 0 var(--sp);
  padding-inline-start: var(--sp);
  padding-inline-end: var(--sp);
  border-block-start: solid var(--color--white) var(--sp3);
  /* Create room for the "close" button. */
  background-color: var(--color--white);
  box-shadow: 0 0 72px rgba(0, 0, 0, 0.1);
}
.header-nav.is-active {
  visibility: visible;
  transform: translateX(-100%);
  /* LTR */
}
@supports (flex-basis: max-content) {
  .header-nav {
    flex-basis: max-content;
  }
}
@media (--sm) {
  .header-nav {
    border-top-width: var(--sp5);
  }
}
@media (--md) {
  .header-nav {
    padding-block-end: var(--sp3);
    padding-inline-start: var(--sp3);
    border-top-width: var(--sp7);
  }
}
@media (--lg) {
  .header-nav {
    grid-column: 5/14;
  }
}

/*
 * Only apply transition styles when JS is loaded. This
 * works around https://bugs.chromium.org/p/chromium/issues/detail?id=332189
 */
html.js .header-nav {
  transition: visibility 0.2s, transform 0.2s;
}

/* Toolbar is fixed, and tray is vertical. */
body.toolbar-vertical .header-nav {
  border-top-width: calc(var(--toolbar-height) + var(--sp3));
}
@media (--sm) {
  body.toolbar-vertical .header-nav {
    border-top-width: calc(var(--toolbar-height) + var(--sp5));
  }
}

/* Toolbar is fixed, and tray is vertical or toolbar is horizontal and tray is closed. */
@media (--md) {
  body.toolbar-vertical .header-nav,
body.toolbar-horizontal.toolbar-fixed .header-nav {
    border-top-width: calc(var(--toolbar-height) + var(--sp7));
  }
}

/* Toolbar is horizontal fixed, and tray is open. */
@media (--md) {
  body.toolbar-horizontal.toolbar-fixed.toolbar-tray-open .header-nav {
    border-top-width: calc(var(--toolbar-height) + var(--toolbar-tray-height) + var(--sp7));
  }
}

@media (--nav) {
  .header-nav {
    position: static;
    display: flex;
    visibility: visible;
    overflow: visible;
    grid-column: 5/15;
    align-items: center;
    justify-content: flex-end;
    max-width: none;
    height: var(--header-height-wide-when-fixed);
    margin-block-start: auto;
    padding-block: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    transition: transform 0.2s;
    transform: none;
    border-block-start: 0;
    box-shadow: none;
  }
}