/**
 * @file
 * Header Mobile Buttons.
 */
/* Navigation related breakpoints */
/* Grid related breakpoints */
.mobile-buttons {
  margin-block-start: var(--sp0-5);
  margin-inline-start: auto;
}
@media (min-width: 500px) {
  .mobile-buttons {
    margin-block-start: var(--sp2);
  }
}
@media (min-width: 700px) {
  .mobile-buttons {
    margin-block-start: var(--sp4);
  }
}
@media (min-width: 1200px) {
  .mobile-buttons {
    display: none;
  }
}