/* Navigation related breakpoints */
/* Grid related breakpoints */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.site-header__action {
  display: flex;
}

.site-header__register {
  padding: 40px;
  background-color: var(--color--sun-45);
  color: var(--color--white);
}