/* Navigation related breakpoints */
/* Grid related breakpoints */
@keyframes show-session-details {
  from {
    opacity: 0;
  }
}
.session-teaser {
  --session-teaser-hover-color: var(--text-on-neutral-primary);
}

.session-teaser__details[open] > *:not(.session-teaser__summary) {
  animation: show-session-details 0.2s linear;
}

.session-teaser__summary {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.session-teaser__summary:hover:after {
  color: var(--session-teaser-hover-color);
}
.session-teaser__summary:focus {
  outline: solid 1px var(--color--night-50);
  outline-offset: 4px;
}
.session-teaser__summary:focus:not(:focus-visible) {
  outline: 0;
}
.session-teaser__summary:focus:focus-visible {
  outline-offset: var(--sp0-5);
  outline: solid 2px currentColor;
  border-radius: 0 1rem 0 0;
}
.session-teaser__summary::-webkit-details-marker {
  display: none;
}
.session-teaser__summary::marker {
  content: "";
}
.session-teaser__summary:after {
  content: "";
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
  transform: rotate(45deg);
  width: var(--sp);
  height: var(--sp);
  border-top: solid 4px currentColor;
  border-right: solid 4px currentColor;
  transition: transform 0.2s, color 0.2s;
}
.session-teaser__details[open] .session-teaser__summary:after {
  transform: translatey(-0.375rem) rotate(135deg);
}

.session-teaser__title {
  margin: 0 0 var(--sp1-5);
  padding-right: 2.5rem;
  font-size: var(--sp1-5);
  font-weight: 800;
  line-height: var(--sp2);
  letter-spacing: -0.01em;
  color: var(--color--ocean-10);
  transition: color 0.2s;
}
.session-teaser__summary:hover .session-teaser__title {
  color: var(--session-teaser-hover-color);
}

.session-teaser__desc {
  margin-top: var(--sp1-5);
}

.session-teaser__footer {
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--sp2);
}

.session-teaser__slides-link:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 1.5625rem;
  width: 1.5625rem;
  margin-top: -0.1875rem;
  margin-right: 0.25em;
  -webkit-mask: url("../../images/pdf.svg");
          mask: url("../../images/pdf.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: currentColor;
}