/* Navigation related breakpoints */
/* Grid related breakpoints */
.session .session__field--field-speakers {
  display: block;
}
.session .session__field--field-speakers > svg {
  display: none;
}
.session .youtube-container--responsive {
  margin: var(--sp4) 0 var(--sp2);
}

.session__meta {
  padding: var(--sp);
  background: var(--color--sky-97);
}

.session__field {
  display: inline-flex;
  align-items: center;
}
.session__field:not(:last-child) {
  margin-right: 1em;
}
.session__field svg {
  width: var(--sp1-5);
  height: var(--sp1-5);
  margin-right: 0.4em;
}
.session__field path {
  fill: var(--color--sky-50);
}

.session__field--field-session-category svg {
  margin-bottom: 2px;
}

.session__field--field-audience svg {
  width: 1.625rem;
  height: 1.5625rem;
}

.session__desc {
  margin: var(--sp3) 0;
}

.session__slides {
  font-size: 1.125rem;
}

.session__slide-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.1875rem;
}