.featured-speaker__title {
  margin: var(--sp) 0;
  font-size: 1.25rem;
}

.featured-speaker__desc {
  font-size: 0.875rem;
}
.featured-speaker__desc .text-content {
  font-size: inherit;
  line-height: 1.5;
}

.featured-speaker__cta {
  margin-top: var(--sp);
}
.featured-speaker__cta a {
  color: var(--color--sun-55);
}