.overlay {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  background: var(--color--ocean-15);
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}
.is-overlay-active .overlay {
  opacity: 0.5;
  visibility: visible;
}
@media (forced-colors: active) {
  .overlay {
    background: canvasText;
  }
}