/**
 * This gets inserted via JS into the schedule page if the date is the day of
 * the conference.
 */
/* Navigation related breakpoints */
/* Grid related breakpoints */
@media (min-width: 68.75rem) {
  .schedule-jump {
    position: relative;
    margin: 0;
  }
}

.schedule-jump__link {
  --background-color: var(--pink-dark);
  --height: var(--sp3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--background-color);
  color: white;
  font-weight: bold;
  width: max-content;
  height: var(--height);
  padding: 0 1.25rem;
  border-radius: calc(var(--height) / 2);
  animation: fadeIn 0.5s;
  transition: transform 0.2s;
  text-decoration: none;
}
@media (min-width: 68.75rem) {
  .schedule-jump__link {
    position: absolute;
    top: 0;
    right: calc(100% + var(--sp));
    transform: rotate(-90deg) translate(var(--height), 0);
    transform-origin: right bottom;
    letter-spacing: 0.1ch;
  }
}
.schedule-jump__link:before {
  content: "";
  width: 0.875rem;
  height: 1.5rem;
  -webkit-mask-image: url("../../images/arrow-right-white.svg");
          mask-image: url("../../images/arrow-right-white.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  margin-right: 0.5em;
  transform: rotate(90deg);
  background-color: currentColor;
}
@media (min-width: 68.75rem) {
  .schedule-jump__link:before {
    transform: rotate(180deg);
  }
}
.schedule-jump__link:hover {
  transform: translatey(2px);
  background-color: var(--pink-light);
  color: var(--color--ocean-10);
}
@media (min-width: 68.75rem) {
  .schedule-jump__link:hover {
    transform: rotate(-90deg) translate(calc(var(--height) - 2px), 0);
  }
}
.schedule-jump__link:focus {
  outline: solid 2px var(--background-color);
  outline-offset: 4px;
}
.schedule-jump__link:focus:not(:focus-visible) {
  outline: 0;
}
.schedule-jump__link:active {
  --background-color: var(--color--sun-30);
  transform: translatey(0.3125rem);
}
@media (min-width: 68.75rem) {
  .schedule-jump__link:active {
    transform: rotate(-90deg) translate(calc(var(--height) - 0.3125rem), 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translatey(-1.25rem);
  }
  to {
    opacity: 1;
    transform: translatey(0px);
  }
}
@media (min-width: 68.75rem) {
  @keyframes fadeIn {
    from {
      opacity: 0;
      margin-top: 1.25rem;
    }
    to {
      opacity: 1;
      margin-top: 0;
    }
  }
}