/* Navigation related breakpoints */
/* Grid related breakpoints */
@keyframes show-session-details {
  from {
    opacity: 0;
  }
}
.session-teaser {
  --session-teaser-hover-color: var(--color--sun-55);
}

.session-teaser__details[open] > *:not(.session-teaser__summary) {
  animation: show-session-details 0.2s linear;
}

.session-teaser__summary {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.session-teaser__summary:hover:after {
  color: var(--session-teaser-hover-color);
}
.session-teaser__summary:focus {
  outline-offset: var(--sp0-5);
  outline-color: currentColor;
}
.session-teaser__summary::-webkit-details-marker {
  display: none;
}
.session-teaser__summary::marker {
  content: "";
}
.session-teaser__summary:after {
  content: "";
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
  transform: rotate(45deg);
  width: 1rem;
  height: 1rem;
  border-top: solid 4px currentColor;
  border-right: solid 4px currentColor;
  transition: transform 0.2s, color 0.2s;
}
.session-teaser__details[open] .session-teaser__summary:after {
  transform: translatey(-0.375rem) rotate(135deg);
}

.session-teaser__title {
  margin: 0 0 1.5rem;
  padding-right: 2.5rem;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2rem;
  letter-spacing: -0.01em;
  color: var(--color--ocean-10);
  transition: color 0.2s;
}
.session-teaser__summary:hover .session-teaser__title {
  color: var(--session-teaser-hover-color);
}

.session__field {
  align-items: center;
}
.session__field:not(:last-child) {
  margin-right: 1em;
}
.session__field svg {
  max-width: 1.25rem;
  max-height: 1.25rem;
  vertical-align: text-bottom;
}
.session__field path {
  fill: var(--color--night-50);
}

.session__field--field-session-category svg {
  margin-bottom: 2px;
  max-width: 1.125rem;
  max-height: 1.125rem;
}
.session__field--field-session-category path {
  fill: var(--color--night-60);
}

.session-teaser__desc {
  margin-top: 1.5rem;
}