/* Navigation related breakpoints */
/* Grid related breakpoints */
.site-hero {
  padding-bottom: 48px;
}
@media (min-width: 600px) {
  .site-hero {
    padding-bottom: 64px;
  }
}
@media (min-width: 1000px) {
  .site-hero {
    padding-bottom: 96px;
  }
}
@media (min-width: 1300px) {
  .site-hero {
    padding-bottom: 120px;
  }
}

.site-hero__details {
  grid-column: 1/-2;
  display: flex;
  height: 56px;
  white-space: nowrap;
}
@media (min-width: 600px) {
  .site-hero__details {
    grid-column: 1/6;
  }
}

.site-hero__details-item {
  display: block;
  padding: 16px 24px;
  text-transform: uppercase;
  font-family: var(--font-sans);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.06em;
  background: var(--color--sky-94);
}
.site-hero__details-item:first-child {
  position: relative;
  background: var(--color--sky-80);
}
.site-hero__details-item:first-child:after {
  content: "";
  background: var(--color--sky-80);
  position: absolute;
  right: 100%;
  top: 0;
  height: 100%;
  width: 50vw;
}

.site-hero__main {
  margin: 48px 0 32px;
}
@media (min-width: 600px) {
  .site-hero__main {
    grid-row: 2;
    grid-column: 1/6;
    margin: 0;
  }
}
@media (min-width: 1300px) {
  .site-hero__main {
    grid-column: 2/6;
  }
}

.site-hero__title {
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--color--night-5);
}
@media (min-width: 800px) {
  .site-hero__title {
    font-size: 56px;
  }
}
@media (min-width: 1000px) {
  .site-hero__title {
    font-size: 80px;
  }
}

.site-hero__desc {
  font-size: 16px;
  line-height: 32px;
}

.site-hero__media {
  position: relative;
}
@media (min-width: 600px) {
  .site-hero__media {
    grid-column: 7/-1;
    grid-row: span 2;
  }
}
@media (min-width: 1300px) {
  .site-hero__media {
    grid-column: 9/-1;
  }
}
.site-hero__media img,
.site-hero__media video {
  width: 100%;
}

.site-hero__media-cta {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 24px 32px;
  background: var(--color--white);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: var(--color--ocean-30);
}