/* Navigation related breakpoints */
/* Grid related breakpoints */
/* Navigation related breakpoints */
/* Grid related breakpoints */
.site-stats {
  position: relative;
}
@media (min-width: 37.5rem) {
  .site-stats {
    padding: 0 0 4rem;
  }
}
.site-stats:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% + 50vw);
  height: 0;
  border-top: solid 8px var(--color--ocean-15);
}

@media (min-width: 43.75rem) {
  .site-stats__label {
    grid-row: 1;
    grid-column: 10/span 3;
  }
}

.site-stats__title {
  margin-top: 0;
  border-left: solid 4px var(--color--sun-55);
  padding-left: 1.25rem;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--color--night-20);
}
@media (min-width: 81.25rem) {
  .site-stats__title {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 37.5rem) {
  .site-stats__title {
    margin-top: 2.4375rem;
  }
}

.site-stats__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (min-width: 37.5rem) {
  .site-stats__list {
    display: flex;
    gap: var(--grid-gap);
  }
  .site-stats__list > * {
    flex: 1;
  }
}
@media (min-width: 43.75rem) {
  .site-stats__list {
    grid-row: 1;
    grid-column: 1/span 9;
  }
}
@media (min-width: 81.25rem) {
  .site-stats__list {
    grid-column: 2/span 8;
  }
}

.site-stats__item {
  display: flex;
  gap: var(--grid-gap);
  flex-wrap: wrap;
  padding: var(--sp2) 0;
  border-bottom: solid 2px var(--color--sky-86);
}
.site-stats__item:last-child {
  border-bottom: none;
}
.site-stats__item > * {
  flex: 1;
}
@media (min-width: 37.5rem) {
  .site-stats__item {
    display: block;
    border-bottom: none;
  }
}

.site-stats__stat {
  margin-bottom: var(--sp);
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.02em;
  color: var(--color--sun-55);
}

.site-stats__desc {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
}