/* Navigation related breakpoints */
/* Grid related breakpoints */
/* Navigation related breakpoints */
/* Grid related breakpoints */
.site-stats {
  position: relative;
  padding: 48px 0 0;
}
@media (min-width: 600px) {
  .site-stats {
    padding: 64px 0;
  }
}
.site-stats:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% + 50vw);
  height: 0;
  border-top: solid 8px var(--color--ocean-15);
}

@media (min-width: 700px) {
  .site-stats__label {
    grid-row: 1;
    grid-column: 10/span 3;
  }
}

.site-stats__title {
  margin-top: 0;
  border-left: solid 4px var(--color--sun-55);
  padding-left: 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--color--night-20);
}
@media (min-width: 1300px) {
  .site-stats__title {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (min-width: 600px) {
  .site-stats__title {
    margin-top: 39px;
  }
}

.site-stats__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (min-width: 600px) {
  .site-stats__list {
    display: flex;
    gap: var(--grid-gap);
  }
  .site-stats__list > * {
    flex: 1;
  }
}
@media (min-width: 700px) {
  .site-stats__list {
    grid-row: 1;
    grid-column: 1/span 9;
  }
}
@media (min-width: 1300px) {
  .site-stats__list {
    grid-column: 2/span 8;
  }
}

.site-stats__item {
  display: flex;
  padding: var(--sp2) 0;
  border-bottom: solid 2px var(--color--sky-86);
}
.site-stats__item:last-child {
  border-bottom: none;
}
.site-stats__item > * {
  flex: 1;
}
@media (min-width: 600px) {
  .site-stats__item {
    display: block;
    border-bottom: none;
  }
}

.site-stats__stat {
  margin-bottom: var(--sp);
  font-size: 56px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.02em;
  color: var(--color--sun-55);
}

.site-stats__desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}