/* Navigation related breakpoints */
/* Grid related breakpoints */
.site-hero {
  padding-bottom: 48px;
}
@media (min-width: 600px) {
  .site-hero {
    padding-bottom: 64px;
  }
}
@media (min-width: 1000px) {
  .site-hero {
    padding-bottom: 96px;
  }
}
@media (min-width: 1300px) {
  .site-hero {
    padding-bottom: 120px;
  }
}

.site-hero__details {
  grid-column: 1/-2;
  display: flex;
  height: 56px;
  white-space: nowrap;
}
@media (min-width: 600px) {
  .site-hero__details {
    grid-column: 1/6;
  }
}

.site-hero__details-item {
  display: block;
  padding: 16px 24px;
  text-transform: uppercase;
  font-family: var(--font-sans);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.06em;
  background: var(--color--sky-94);
}
.site-hero__details-item:first-child {
  position: relative;
  background: var(--color--sky-80);
}
.site-hero__details-item:first-child:after {
  content: "";
  background: var(--color--sky-80);
  position: absolute;
  right: 100%;
  top: 0;
  height: 100%;
  width: 50vw;
}

.site-hero__main {
  margin: 48px 0 32px;
}
@media (min-width: 600px) {
  .site-hero__main {
    grid-row: 2;
    grid-column: 1/6;
    margin: 0;
  }
}
@media (min-width: 1300px) {
  .site-hero__main {
    grid-column: 2/6;
  }
}

.site-hero__title {
  margin-block: var(--sp);
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--color--night-5);
}
@media (min-width: 700px) {
  .site-hero__title {
    margin-block: var(--sp2);
  }
}
@media (min-width: 800px) {
  .site-hero__title {
    font-size: 3.5rem;
  }
}
@media (min-width: 1000px) {
  .site-hero__title {
    font-size: 5rem;
  }
}

.site-hero__desc {
  font-size: 1rem;
  line-height: 2rem;
}

.site-hero__media {
  position: relative;
}
@media (min-width: 600px) {
  .site-hero__media {
    grid-column: 7/-1;
    grid-row: span 2;
  }
}
@media (min-width: 1300px) {
  .site-hero__media {
    grid-column: 9/-1;
  }
}
.site-hero__media img,
.site-hero__media video {
  width: 100%;
  aspect-ratio: 544/480;
  object-fit: cover;
}

.site-hero__play-pause {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
  background: rgba(170, 222, 238, 0.8);
  border: solid 2px transparent;
  text-indent: -999px;
  overflow: hidden;
  transition: background 0.2s;
}
.site-hero__play-pause:hover {
  background: rgba(255, 255, 255, 0.8);
}
.site-hero__play-pause:focus {
  outline: solid 2px currentColor;
  border-radius: 0;
  outline-offset: -6px;
}
.site-hero__play-pause[aria-pressed=true]:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  margin-left: 1px;
  border-left: solid 15px currentColor;
  border-top: solid 10px transparent;
  border-bottom: solid 10px transparent;
}
.site-hero__play-pause[aria-pressed=false]:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%);
  border-left: solid 4px currentColor;
  border-right: solid 4px currentColor;
}

.site-hero__media-cta {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 24px 32px;
  background: var(--color--white);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  text-decoration: none;
  color: var(--color--ocean-30);
}
.site-hero__media-cta:focus {
  outline: solid 2px currentColor;
  border-radius: 0;
  outline-offset: -6px;
}