/* Navigation related breakpoints */
/* Grid related breakpoints */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
@media (min-width: 700px) {
  .site-header {
    margin: 56px auto;
  }
}

.site-header__action {
  display: flex;
}

.site-header__register {
  display: none;
  padding: 40px;
  background-color: var(--color--sun-45);
  color: var(--color--white);
}
@media (min-width: 700px) {
  .site-header__register {
    display: block;
  }
}