/**
 * @file
 * User generated tables.
 */
.forum table,
.text-content table,
.views-table,
.draggable-table {
  margin-block-start: var(--sp2);
  margin-block-end: var(--sp2);
  border-spacing: 0;
  color: var(--color--gray-10);
  border: 0;
  border-collapse: collapse;
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: var(--sp1-5);
}
.forum table caption,
.text-content table caption,
.views-table caption,
.draggable-table caption {
  margin-block-end: var(--sp1);
  text-align: start;
  color: var(--color--gray-10);
  font-family: var(--font-serif);
  font-size: 14px;
  font-style: italic;
  line-height: var(--sp);
}
.forum table tr:last-child td,
.text-content table tr:last-child td,
.views-table tr:last-child td,
.draggable-table tr:last-child td {
  border-block-end: 0;
}
.forum table td, .forum table th,
.text-content table td,
.text-content table th,
.views-table td,
.views-table th,
.draggable-table td,
.draggable-table th {
  padding-block: var(--sp1);
  padding-inline-start: 0;
  padding-inline-end: var(--sp1);
  vertical-align: top;
}
.forum table th,
.text-content table th,
.views-table th,
.draggable-table th {
  margin-block: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  text-align: start;
  letter-spacing: 0.02em;
  color: var(--color--gray-0);
  border-block-end: 2px solid var(--color--blue-50);
  font-family: var(--font-sans);
  font-size: 14px;
  line-height: var(--sp);
  /**
   * Fixes for styles injected by CKEditor
   */
}
.forum table th.text-align-left,
.text-content table th.text-align-left,
.views-table th.text-align-left,
.draggable-table th.text-align-left {
  text-align: start;
}
.forum table th.text-align-right,
.text-content table th.text-align-right,
.views-table th.text-align-right,
.draggable-table th.text-align-right {
  text-align: end;
}
.forum table th.text-align-center,
.text-content table th.text-align-center,
.views-table th.text-align-center,
.draggable-table th.text-align-center {
  text-align: center;
}
.forum table th.text-align-justify,
.text-content table th.text-align-justify,
.views-table th.text-align-justify,
.draggable-table th.text-align-justify {
  text-align: justify;
}
.forum table td,
.text-content table td,
.views-table td,
.draggable-table td {
  white-space: normal;
  border-block-end: 2px solid var(--color--gray-40);
}
.forum table th.checkbox, .forum table td.checkbox,
.text-content table th.checkbox,
.text-content table td.checkbox,
.views-table th.checkbox,
.views-table td.checkbox,
.draggable-table th.checkbox,
.draggable-table td.checkbox {
  text-align: center;
}

.draggable-table {
  width: 100%;
}

.draggable-table .form-item {
  margin-top: 0;
}

.tablesort {
  vertical-align: middle;
}

.sticky-header {
  z-index: 0;
  margin: 0;
  border-block-end: 4px solid var(--color--blue-50);
}

/* Properly align VBO checkboxes. */
.views-field-node-bulk-form .form-item {
  margin: 0;
}