@charset "UTF-8";
/**
 * @file
 * Text Content.
 */
/* Navigation related breakpoints */
/* Grid related breakpoints */
.text-content,
.cke_editable {
  color: var(--color--gray-10);
  line-height: var(--sp1-5);
}
.text-content a:where(:not(.button)),
.cke_editable a:where(:not(.button)) {
  color: var(--color--sun-45);
  text-decoration-thickness: 4px;
  text-decoration-color: var(--color--sun-80);
  overflow-wrap: break-word;
  transition: color 0.2s;
}
.text-content a:where(:not(.button)):hover,
.cke_editable a:where(:not(.button)):hover {
  color: var(--color--sun-55);
}
.text-content p,
.cke_editable p {
  margin-block-start: var(--sp);
  margin-block-end: var(--sp);
}
.text-content p:first-child,
.cke_editable p:first-child {
  margin-block-start: 0;
}
.text-content p:last-child,
.cke_editable p:last-child {
  margin-block-end: 0;
}
@media (min-width: 700px) {
  .text-content p,
.cke_editable p {
    margin-block-start: var(--sp2);
    margin-block-end: var(--sp2);
  }
}
.text-content code,
.cke_editable code {
  background-color: var(--color--night-90);
}
.text-content pre code,
.cke_editable pre code {
  display: block;
  overflow: auto;
  padding-block: var(--sp);
  padding-inline-start: var(--sp);
  padding-inline-end: var(--sp);
}
.text-content blockquote,
.cke_editable blockquote {
  position: relative;
  margin-block: var(--sp2);
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: var(--sp4);
  letter-spacing: -0.01em;
  font-family: var(--font-serif);
  font-size: 21px;
  line-height: 1.5;
  color: var(--color--night-30);
}
.text-content blockquote:before,
.cke_editable blockquote:before {
  position: absolute;
  inset-block-start: -10px;
  inset-inline-start: -10px;
  font-family: "georgia";
  content: "“";
  color: var(--color--sun-90);
  font-size: 150px;
  line-height: 1;
}
.text-content blockquote:after,
.cke_editable blockquote:after {
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 10px;
  width: var(--sp0-5);
  height: calc(100% - 70px);
  margin-inline-start: 4px;
  content: "";
  background: var(--color--sun-90);
}
@media (min-width: 600px) {
  .text-content blockquote,
.cke_editable blockquote {
    font-size: 32px;
  }
}
@media (min-width: 600px) {
  .text-content,
.cke_editable {
    font-size: 18px;
    line-height: var(--sp2);
  }
}

/**
 * Special colors for footer that has a dark background.
 */
.site-footer .text-content {
  color: inherit;
}
.site-footer .text-content * {
  color: inherit;
}
.site-footer .text-content a {
  text-decoration: underline;
  color: inherit;
}
.site-footer .text-content a:hover {
  text-decoration: none;
  color: inherit;
}