{{ attach_library('pubsub/site-stats') }}
<section class="site-stats container grid">
  <div class="site-stats__label">
    <h2 class="site-stats__title">Highlights from FL Drupalcamp</h2>
  </div>
  <ul class="site-stats__list">
    <li class="site-stats__item">
      <div class="site-stats__stat">200+</div>
      <div class="site-stats__desc">attendees (on average) come from all over to Florida</div>
    </li>
    <li class="site-stats__item">
      <div class="site-stats__stat">82%</div>
      <div class="site-stats__desc">of site visitors believe our statistics immediately</div>
    </li>
    <li class="site-stats__item">
      <div class="site-stats__stat">75°F</div>
      <div class="site-stats__desc">average high temperature in February</div>
    </li>
  </ul>
</section>
