@import "variables";

@mixin left-border-title {
  margin-top: 0;
  border-left: solid 4px var(--pink-dark);
  padding-left: 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: var(--sp);
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--color--night-20);

  @media ($grid-max) {
    font-size: 14px;
    line-height: var(--sp1-5);
  }
}

@mixin button {
  --button-color-bg: var(--color--white); // background color
  --button-color-primary: var(--pink-dark); // Text/border color
  --button-color-primary-dark: var(--pink-dark); // hover/focus text/border color
  --button-border-radius: 3px;
  --button-line-height: 18px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--sp3);
  margin-block: var(--sp1);
  margin-inline-start: 0;
  margin-inline-end: var(--sp1);
  padding: 1px var(--sp1-5);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: var(--button-color-primary);
  border: solid 2px var(--button-color-primary);
  border-radius: var(--button-border-radius);
  background-color: var(--button-color-bg);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: var(--button-line-height);
  appearance: none;
  -webkit-font-smoothing: antialiased;
  touch-action: manipulation;

  &:where(:hover),
  &:where(:focus) {
    text-decoration: none;
    border-color: color-mix(in lab, var(--button-color-primary-dark) 80%, black 20%);
    color: color-mix(in lab, var(--button-color-primary-dark) 80%, black 20%);
  }

  &:where(:active) {
    color: color-mix(in lab, var(--button-color-primary-dark) 80%, black 20%);
    border-color: color-mix(in lab, var(--button-color-primary-dark) 80%, black 20%);
  }

  &:where(:disabled),
  &.is-disabled {
    cursor: default;
    color: var(--color--gray-70);
    border-color: var(--color--gray-70);
  }
}

@mixin button--small {
  height: var(--sp2-5);
  padding-inline: var(--sp);
  font-size: 16px;
  line-height: normal;
}

@mixin button--large {
  height: var(--sp4);
  font-size: 20px;
  line-height: normal;

  .arrow-right {
    margin-left: 10px;
  }
}

@mixin button--primary {
  @include button;

  --button-color-bg: var(--pink-dark); // background color
  --button-color-primary: var(--color-white); // Text/border color
  --button-color-primary-dark: var(--pink-light); // hover/focus text/border color

  &:where(:hover),
  &:where(:focus) {
    border-color: color-mix(in lab, var(--button-color-primary-dark) 80%, black 20%);
    background-color: color-mix(in lab, var(--button-color-primary-dark) 80%, black 80%);
    color: var(--button-color-primary);
    filter: saturate(400%);
  }

  &:where(:active) {
    border-color: color-mix(in lab, var(--button-color-primary-dark) 80%, black 20%);
    background-color: color-mix(in lab, var(--button-color-primary-dark) 80%, black 20%);
    color: var(--button-color-primary);
    filter: saturate(200%);
  }
}

@mixin button--highlight {
  background-color: var(--secondary);
  color: var(--text-on-secondary);
  border-color: transparent;

  &:where(:hover) {
    border-color: transparent;
  }
}
