$sm: 'min-width: 500px';
$md: 'min-width: 700px';
$lg: 'min-width: 1000px';

/* Navigation related breakpoints */
$nav: 'min-width: 1100px';
$mobile-nav: 'max-width: 1100px';

/* Grid related breakpoints */
$grid-md: 'min-width: 800px';
$grid-max: 'min-width: 1300px';

// Sponsor breakpoints
$grid-1-2: 'min-width: 450px';
$grid-2-3: 'min-width: 800px';
$label-format-switch:  'min-width: 1000px';
