$sm: 'min-width: 500px';
$md: 'min-width: 700px';
$lg: 'min-width: 1000px';

/* Navigation related breakpoints */
$nav: 'min-width: 1200px';
$max-nav: 'max-width: 1200px';

/* Grid related breakpoints */
$grid-md: 'min-width: 700px';
$grid-max: 'min-width: 1440px';
