@import "../../global/variables";

.archive-sites-menu {
  background-color: var(--neutral-dark);
  background-image: url('../../../images/archive-site-menu-arrows.svg');
  background-position: center right 10px;;
  height: 40px;
  width: 256px;
  max-width: 100%;
  padding: 0 var(--sp2) 0 var(--sp);
  border: solid 1px #94BFCC;
  color: var(--text-on-neutral-dark);
  font-size: 16px;
  line-height: var(--sp1-5);
  transition: border-color 0.2s;

  @media (forced-colors: active) {
    background-image: none;
    appearance: listbox; /* Default <select> appearance value for modern browsers. */

    @supports (appearance: revert) {
      appearance: revert;
    }
  }

  &:focus {
    outline-offset: 2px;
  }

  &:hover {
    border-color: var(--color--white);
  }
}
