@import "../../global/variables";
@import "../../global/mixins";

.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu--level-1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;

  @media ($sm) {
    display: flex;
    justify-content: space-between;
    gap: var(--grid-gap);
  }
}

.footer-menu__heading {
  @include left-border-title;
  margin: 48px 0 32px;
  color: inherit;

  @media ($sm) {
    margin-top: 0;
  }
}

.footer-menu__link {
  text-decoration: none;
}

.footer-menu__item--level-2 {
  margin-bottom: 24px;
}
