@import "../../global/variables";
@import "../../global/mixins";

.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu--level-1 {
  font-size: 20px;
  font-weight: 700;
  line-height: var(--sp1-5);

  @media ($sm) {
    display: flex;
    justify-content: space-between;
    gap: var(--grid-gap);
  }
}

.footer-menu__heading {
  @include left-border-title;
  margin: var(--sp3) 0 var(--sp2);
  color: inherit;

  @media ($sm) {
    margin-top: 0;
  }
}

.footer-menu__link {
  text-decoration: none;
}

.footer-menu__item--level-2 {
  margin-bottom: var(--sp1-5);
}
