/**
 * @file
 * Mobile navigation disclosure button.
 */

@import "../../global/variables";

$breakpoint-enable-label-text: $sm;
$breakpoint-change-button-bg: $grid-md;

.mobile-nav-button {
  --mobile-nav-button--highlight-color: var(--pink-dark);
  --mobile-nav-button--line-color: var(--color--white);

  position: relative;
  z-index: 110; /* Appear above mobile nav. */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88px;
  width: 104px;
  margin-right: -3vw;
  padding-block: 0;
  cursor: pointer;
  border: none;
  background: var(--mobile-nav-button--highlight-color);
  color: var(--color--white);
  appearance: none;

  &:focus {
    border-radius: 0;
    outline-offset: -4px;
    outline-color: var(--mobile-nav-button--line-color);
  }


  &:active {
    color: var(--color--white); /* Override Safari's default UA styles. */

    @media ($breakpoint-change-button-bg) {
      color: inherit;
    }
  }

  &[aria-expanded="true"] {
    @media ($breakpoint-change-button-bg) {
      color: var(--mobile-nav-button--highlight-color);
    }
  }

  @media ($sm) {
    width: auto;
    padding: 0 var(--sp2);
  }

  @media ($breakpoint-change-button-bg) {
    --mobile-nav-button--line-color: var(--mobile-nav-button--highlight-color);

    display: inline-flex;
    margin-right: calc(-1 * var(--sp2));
    padding: 0 var(--sp2) 0 var(--sp2);
    background: transparent;
    color: inherit;
  }

  @media ($wide-nav) {
    display: none;
  }
}

/* Text that says "menu". */
.mobile-nav-button__label {
  position: absolute;
  display: block;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;

  @media ($breakpoint-enable-label-text) {
    position: static;
    overflow: visible;
    clip: auto;
    width: auto;
    height: auto;
    margin-inline-end: 12px;
    letter-spacing: 0.05em;
    font-size: 14px;
    font-weight: bold;
  }
}

.mobile-nav-button__icon {
  position: relative;
  display: block;
  width: var(--sp2);
  height: 3px;
  background-color: var(--mobile-nav-button--line-color);

  &:before {
    position: absolute;
    inset-block-start: -8px;
    inset-inline-start: 0;
    width: 100%;
    height: 3px;
    content: "";
    transition: all 0.2s;
    background-color: var(--mobile-nav-button--line-color);
  }

  &:after {
    position: absolute;
    inset-block: auto -8px;
    inset-inline-start: 0;
    width: 100%;
    height: 3px;
    content: "";
    transition: all 0.2s;
    background-color: var(--mobile-nav-button--line-color);
  }
}

.mobile-nav-button[aria-expanded="true"] .mobile-nav-button__icon {
  background-color: transparent;

  &:before {
    inset-block-start: 0;
    transform: rotate(-45deg);
  }

  &:after {
    inset-block-start: 0;
    transform: rotate(45deg);
  }
}
