@import "../../global/variables";

.primary-nav__menu-item {
  display: flex;
  flex-wrap: wrap;
}

.primary-nav__menu-link {
  color: var(--color--night-5);
}

// Only show for authenticated users.
.account-menu-item {
  body:not(.user-logged-in) & {
    display: none;
  }
}
