@import "../../global/variables";

.primary-nav__menu-item {
  display: flex;
  flex-wrap: wrap;
}

.primary-nav__menu-link {
  color: var(--color--night-5);
}

// Only show for authenticated users.
.account-menu-item {
  body:not(.user-logged-in) & {
    display: none;
  }
}

.primary-nav__register-link {
  display: block;
  margin-top: var(--sp2);
  width: 100%;
  padding: var(--sp2) var(--sp3);
  background-color: var(--secondary);
  color: var(--text-on-secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: var(--sp1-5);
  text-decoration: none;

  @media ($wide-nav) {
    display: none;
  }

  &:hover {
    color: var(--color--white);
  }
}
