@import "../../global/variables";

$schedule_layout_switch: 'min-width: 950px';

// Parent <nav> element.
.menu--schedule-tabs {
  grid-column-start: var(--sidebar-grid-start);
}

.schedule-tabs {
  --schedule-tabs--background: var(--color--ocean-15);
  --schedule-tabs--highlight: var(--color--sun-45);
  --schedule-tabs--text: var(--color--white);
  --schedule-tabs--bottom-border-width: 8px;

  position: relative; // Anchor :before pseudo-element.
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 0 16px 0 0;
  background-color: var(--schedule-tabs--background);
  border-bottom: solid var(--schedule-tabs--bottom-border-width) var(--schedule-tabs--highlight);

  &:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    width: 50vw;
    height: calc(100% + var(--schedule-tabs--bottom-border-width));
    background-color: var(--schedule-tabs--background);
    border-bottom: solid var(--schedule-tabs--bottom-border-width) var(--schedule-tabs--highlight);
  }
}

.schedule-tabs__link {
  display: flex;
  flex-direction: column;
  margin-top: var(--sp);
  margin-right: 8px;
  padding: 16px 24px;
  border-radius: 0 16px 0 0;
  color: var(--schedule-tabs--text);
  text-decoration: none;
  transition: background-color 0.2s, box-shadow 0.2s;

  @media (min-width: 350px) {
    padding: 12px 20px;
  }

  @media ($schedule_layout_switch) {
    flex-direction: row;
    justify-content: space-between;
    padding: 24px var(--sp2);
  }

  &:hover {
    background-color: var(--color--ocean-30);
    color: var(--schedule-tabs--text);
  }

  &:focus {
    outline-offset: -6px;
    border-radius: 0 16px 0 0;
  }
}

.schedule-tabs__link--active-trail {
  position: relative;
  background-color: var(--schedule-tabs--highlight);

  &:hover {
    background-color: var(--schedule-tabs--highlight);
    box-shadow: none;
  }
}

.schedule-tabs__link-title {
  font-size: 18px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: -0.01em;

  @media ($sm) {
    font-size: 24px;
  }

  @media ($schedule_layout_switch) {
    font-size: 36px;
  }
}

.schedule-tabs__link-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;

  @media ($schedule_layout_switch) {
    border-left: solid 1px rgba(white, 0.4);
    margin-top: 0;
    margin-left: 16px;
    padding-left: 16px;
    line-height: 16px;
  }
}

.schedule-tabs__link-date-date {
  display: none;

  @media ($sm) {
    display: block;
  }
}
