/**
 * @file
 * Button that expands second level nav when clicked.
 */
.primary-nav__button-toggle {
  position: relative;
  overflow: hidden;
  width: var(--sp2);
  height: var(--sp2);
  margin-block-start: var(--sp0-5);
  /* Visually align button with menu link text. */
  padding-block: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  cursor: pointer;
  text-indent: -999px;
  border: 0;
  background: transparent;
  -webkit-appearance: none;
  /* aria-hidden attribute is removed by JS. Button is non-functional
     until JS is enabled.
  */
}
.primary-nav__button-toggle:focus {
  outline: auto 2px var(--color--blue-50);
  outline-offset: 2px;
}
.primary-nav__button-toggle .icon--menu-toggle {
  position: absolute;
  /* stylelint-disable csstools/use-logical */
  top: 50%;
  left: 50%;
  /* stylelint-enable csstools/use-logical */
  width: 16px;
  height: 16px;
  transition: background-color 0.2s;
  transform: translate(-50%, -50%);
  border-radius: 2px;
}
.primary-nav__button-toggle .icon--menu-toggle:before, .primary-nav__button-toggle .icon--menu-toggle:after {
  position: absolute;
  /* stylelint-disable csstools/use-logical */
  top: 50%;
  left: 50%;
  /* stylelint-enable csstools/use-logical */
  width: var(--sp);
  height: 0;
  content: "";
  transform: translate(-50%, -50%);
  /* Intentionally not using CSS logical properties. */
  border-top: solid 3px var(--color--blue-50);
}
.primary-nav__button-toggle .icon--menu-toggle:after {
  transition: opacity 0.2s;
  transform: translate(-50%, -50%) rotate(90deg);
}
.primary-nav__button-toggle[aria-expanded=true] .icon--menu-toggle:after {
  opacity: 0;
}
.primary-nav__button-toggle[aria-hidden=true] {
  pointer-events: none;
}

@media (--nav) {
  body:not(.is-always-mobile-nav) .primary-nav__button-toggle {
    flex-shrink: 0;
    align-self: stretch;
    width: calc(var(--sp2) + 8px);
    height: auto;
    margin-block-start: 0;
    margin-inline-end: calc(-1 * var(--sp2));
  }
  body:not(.is-always-mobile-nav) .primary-nav__button-toggle:focus {
    border: 0;
    outline: 0;
  }
  body:not(.is-always-mobile-nav) .primary-nav__button-toggle:focus .icon--menu-toggle {
    border: solid 2px var(--color--blue-20);
  }
  body:not(.is-always-mobile-nav) .primary-nav__button-toggle:active {
    /* Necessary for Safari. */
    color: currentColor;
  }
  body:not(.is-always-mobile-nav) .primary-nav__button-toggle[aria-expanded=true] .icon--menu-toggle:after {
    opacity: 0.8;
  }
  body:not(.is-always-mobile-nav) .primary-nav__button-toggle .icon--menu-toggle {
    inset-inline-start: 3px;
    width: 18px;
    transform: translateY(-50%);
    border-radius: 4px;
    background-color: var(--color--white);
  }
  body:not(.is-always-mobile-nav) .primary-nav__button-toggle .icon--menu-toggle:before {
    content: none;
  }
  body:not(.is-always-mobile-nav) .primary-nav__button-toggle .icon--menu-toggle:after {
    /* stylelint-disable csstools/use-logical */
    top: calc(50% - 2px);
    left: 3px;
    /* stylelint-enable csstools/use-logical */
    width: 8px;
    height: 8px;
    content: "";
    transform: translateY(-50%) rotate(45deg);
    opacity: 0.8;
    /* Intentionally not using CSS logical properties. */
    border-top: none;
    border-right: solid 2px currentColor;
    border-bottom: solid 2px currentColor;
    background: transparent;
  }
}