/* Navigation related breakpoints */
/* Grid related breakpoints */
@media (max-width: 68.75rem) {
  .menu--main {
    --menu-top-padding: 7.5rem;
    --mobile-menu-hightlight-color: var(--pink-dark);
    position: fixed;
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
    width: 100%;
    max-width: 31.25rem;
    padding: var(--menu-top-padding) var(--sp2) var(--sp2);
    background: var(--neutral-dark);
    color: var(--text-on-neutral-dark);
    transition: visibility 0.2s, transform 0.2s;
    visibility: hidden;
  }
  .menu--main.is-active {
    visibility: visible;
    transform: translateX(-100%);
    z-index: 102;
  }

  .primary-nav__menu-link {
    flex-grow: 1;
    text-decoration: none;
    color: inherit;
  }

  .primary-nav__button-toggle {
    color: var(--mobile-menu-hightlight-color);
  }

  .primary-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    height: 100%;
  }

  .primary-nav__menu--level-1 {
    font-size: 1.5rem;
  }

  .primary-nav__menu-link--level-1 {
    display: flex;
    padding: 0.625rem 1.25rem;
  }

  .primary-nav__menu-link--button {
    flex-basis: 100%;
    position: relative;
    cursor: pointer;
    /* Plus icon for mobile navigation. */
  }
  .primary-nav__menu-link--button.primary-nav__menu-link--has-children {
    padding-inline-end: var(--sp3);
    /* Ensure text does not overlap icon. */
  }
  .primary-nav__menu-link--button.primary-nav__menu-link--has-children:before, .primary-nav__menu-link--button.primary-nav__menu-link--has-children:after {
    position: absolute;
    inset-inline-end: 0.5625rem;
    inset-block-start: calc(var(--sp0-5) + 1.0625rem);
    /* Visually align button with menu link text. */
    width: 1.125rem;
    height: 0;
    content: "";
    /* Intentionally not using CSS logical properties. */
    border-top: solid 3px var(--mobile-menu-hightlight-color);
  }
  .primary-nav__menu-link--button.primary-nav__menu-link--has-children:after {
    transition: opacity 0.2s;
    transform: rotate(90deg);
  }
  .primary-nav__menu-link--button.primary-nav__menu-link--has-children[aria-expanded=true]:after {
    opacity: 0;
  }

  .primary-nav__menu--level-2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin-left: var(--sp);
    padding-left: 1.25rem;
    visibility: hidden;
    max-height: 0;
    border-left: solid 6px var(--mobile-menu-hightlight-color);
  }
  .primary-nav__menu--level-2.is-active-menu-parent {
    visibility: visible;
    max-height: none;
    opacity: 1;
  }

  .primary-nav__menu-item--level-2 {
    margin: var(--sp0-5) 0;
  }

  .primary-nav__menu-link--level-2 {
    font-size: 1.25rem;
  }

  .account-menu-item button {
    display: none;
  }
  .account-menu-item .primary-nav__menu--level-2 {
    visibility: visible;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: flex-start;
    max-height: none;
    margin-top: var(--sp3);
    margin-left: 0;
    border-left: 0;
  }
  .account-menu-item .primary-nav__menu-link {
    font-size: 0.875rem;
    text-transform: uppercase;
  }
}