/* Navigation related breakpoints */
/* Grid related breakpoints */
@media (min-width: 68.75rem) {
  .primary-nav {
    position: relative;
    z-index: 102;
  }

  .primary-nav__menu--level-1 {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    padding: 0.625rem;
  }
  .primary-nav__menu--level-1 > * {
    margin: 1.25rem 0;
  }

  .primary-nav__menu--level-1 {
    color: var(--color--ocean-10);
    font-size: 1rem;
  }

  .primary-nav__menu-item {
    position: relative;
  }

  .primary-nav__menu-link {
    text-decoration: none;
  }

  .primary-nav__menu-link--level-1 {
    display: block;
    font-weight: 700;
    padding: 1.25rem 1rem;
  }

  .primary-nav__menu-link--button.primary-nav__menu-link--has-children {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    /* Chevron icon for desktop navigation. */
  }
  .primary-nav__menu-link--button.primary-nav__menu-link--has-children .primary-nav__menu-link-icon {
    position: relative;
    width: 1rem;
    aspect-ratio: 1;
    background-color: var(--secondary);
    color: var(--text-on-secondary);
  }
  .primary-nav__menu-link--button.primary-nav__menu-link--has-children .primary-nav__menu-link-icon:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.375rem;
    height: 0.375rem;
    margin-block-start: -2px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: 0;
    border-right: solid 2px currentColor;
    border-bottom: solid 2px currentColor;
  }
  .primary-nav__menu-link--button.primary-nav__menu-link--has-children[aria-expanded=true] {
    background-color: var(--neutral-dark);
    color: var(--text-on-neutral-dark);
  }
  .primary-nav__menu-link--button.primary-nav__menu-link--has-children[aria-expanded=true] .primary-nav__menu-link-icon {
    background-color: var(--pink-light);
    scale: -1;
  }

  .primary-nav__menu--level-2 {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 12.5rem;
    background: var(--neutral-dark);
    list-style: none;
    padding: var(--sp2) 0.5rem var(--sp);
    margin: 0;
    opacity: 0.5;
    transform: translatey(-0.625rem);
  }
  html.js .primary-nav__menu--level-2 {
    transition: opacity 0.2s, transform 0.2s, visibility 0.2s;
  }
  .primary-nav__menu--level-2.is-active-menu-parent, html:not(.js) .primary-nav__menu-item--level-1:focus-within .primary-nav__menu--level-2, html:not(.js) .primary-nav__menu-item--level-1:hover .primary-nav__menu--level-2 {
    visibility: visible;
    opacity: 1;
    transform: translatey(0);
  }

  .primary-nav__menu-item--level-2 {
    margin-bottom: var(--sp);
  }

  .primary-nav__menu-link--level-2 {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    color: var(--text-on-neutral-dark);
  }
  .primary-nav__menu-link--level-2:hover {
    background: var(--secondary);
    color: var(--text-on-secondary);
  }

  .account-menu-item {
    border-left: solid 1px var(--color--ocean-55);
    padding: 0 var(--sp2);
  }
  .account-menu-item button {
    min-width: 0.9375rem;
    text-indent: -62.4375rem;
    background-image: url("../../../images/user.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: hidden;
  }
  .account-menu-item button:after {
    content: none !important;
  }
}