/* Navigation related breakpoints */
/* Grid related breakpoints */
@media (min-width: 1100px) {
  .primary-nav__menu--level-1 {
    position: relative;
    z-index: 105;
    display: flex;
    list-style: none;
    padding: 10px;
  }
  .primary-nav__menu--level-1 > * {
    margin: 20px;
  }

  .primary-nav__menu--level-1 {
    color: var(--color--ocean-10);
    font-size: 1rem;
  }

  .primary-nav__menu-item {
    position: relative;
  }

  .primary-nav__menu-link {
    text-decoration: none;
  }

  .primary-nav__menu-link--level-1 {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 0;
  }

  .primary-nav__menu-link--button.primary-nav__menu-link--has-children {
    position: relative;
    padding-inline-end: 9px;
    /* Chevron icon for desktop navigation. */
  }
  .primary-nav__menu-link--button.primary-nav__menu-link--has-children:after {
    content: "";
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: calc(100% - 3px);
    width: 8px;
    height: 8px;
    margin-block-start: -2px;
    transform: translateY(-50%) rotate(45deg);
    border-top: 0;
    border-right: solid 2px currentColor;
    border-bottom: solid 2px currentColor;
  }

  .primary-nav__menu--level-2 {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 200px;
    background: var(--color--white);
    border-top: solid 10px var(--color--sun-45);
    list-style: none;
    padding: var(--sp2) var(--sp) var(--sp);
    margin: 0;
    opacity: 0.5;
    transform: translate(-50%, -10px);
    box-shadow: 0 5px 5px 2px var(--color--night-60);
    border-radius: 9px 9px 0 0;
  }
  .primary-nav__menu--level-2:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translatex(-50%);
    width: 0;
    height: 0;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    border-bottom: solid 10px var(--color--sun-45);
  }
  html.js .primary-nav__menu--level-2 {
    transition: opacity 0.2s, transform 0.2s, visibility 0.2s;
  }
  .primary-nav__menu--level-2.is-active-menu-parent {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
  }

  .primary-nav__menu-item--level-2 {
    margin-bottom: var(--sp);
  }
}