/* Navigation related breakpoints */
/* Grid related breakpoints */
.primary-nav__menu-item {
  display: flex;
  flex-wrap: wrap;
}

.primary-nav__menu-link {
  color: var(--color--night-5);
}

body:not(.user-logged-in) .account-menu-item {
  display: none;
}