/**
 * @file
 * Generic base elements.
 */
/* Navigation related breakpoints */
/* Grid related breakpoints */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-sans);
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  line-height: var(--line-height-base);
}

body {
  margin: 0;
  color: var(--color--night-5);
  background-image: url("../../images/bg-florida.svg");
  background-repeat: no-repeat;
  background-position: top -5vw left 25%;
  background-size: min(100%, 1130px);
}
body.is-fixed {
  position: fixed;
}

a {
  color: var(--color--blue-20);
}
a:hover {
  color: var(--color--blue-50);
}
a:focus {
  outline: solid 2px currentColor;
  outline-offset: 2px;
}

button {
  font: inherit;
  border: 0;
  background: 0;
  appearance: none;
  cursor: pointer;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

audio {
  display: block;
  max-width: 100%;
}

h1 {
  letter-spacing: -0.01em;
  font-size: 28px;
  line-height: var(--sp2);
}
@media (min-width: 700px) {
  h1 {
    font-size: 60px;
    line-height: var(--sp4);
  }
}

h2 {
  letter-spacing: -0.01em;
  font-size: 24px;
  line-height: var(--sp2);
}
@media (min-width: 700px) {
  h2 {
    font-size: 36px;
    line-height: var(--sp3);
  }
}

h3 {
  font-size: 20px;
  line-height: var(--sp1-5);
}
@media (min-width: 700px) {
  h3 {
    font-size: 24px;
    line-height: var(--sp2);
  }
}

h4 {
  font-size: 18px;
  line-height: var(--sp1-5);
}

h5 {
  font-size: 16px;
  line-height: var(--sp1-5);
}

h6 {
  font-size: 14px;
  line-height: var(--sp);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: var(--sp);
  color: var(--color--gray-0);
  font-family: var(--font-sans);
  font-weight: bold;
}
@media (min-width: 700px) {
  h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block: var(--sp2);
  }
}

ul {
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  margin-inline-start: 1.5em;
  margin-inline-end: 0;
  padding-inline-start: 0;
  list-style-type: disc;
  list-style-image: none;
}