/**
 * @file
 * Generic base elements.
 */
/* Navigation related breakpoints */
/* Grid related breakpoints */
*,
*:before,
*:after {
  box-sizing: border-box;
}

::selection {
  background-color: var(--color--ocean-30);
  color: var(--color--white);
}

html {
  font-family: var(--font-sans);
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

body {
  margin: 0;
  color: var(--color--night-5);
  background-repeat: no-repeat;
  background-position: top -100px left 25%;
  background-size: min(100%, 70.625rem);
}
body:where(:not(.cke_editable)) {
  background-image: url("../../images/bg-florida.svg");
}
body.is-fixed {
  position: fixed;
  width: 100%;
}

a {
  color: var(--color--ocean-30);
  transition: color 0.2s;
}
a:hover {
  color: var(--color--ocean-37);
}
a:focus {
  outline: solid 2px var(--focus-ring-color);
  outline-offset: 2px;
  border-radius: 2px;
}
a:focus:not(:focus-visible) {
  outline: 0;
}

button {
  font: inherit;
  border: 0;
  background: 0;
  -webkit-appearance: none;
          appearance: none;
  cursor: pointer;
  touch-action: manipulation;
}
button:focus {
  outline: solid 2px var(--focus-ring-color);
  outline-offset: 2px;
  border-radius: 2px;
}
button:focus:not(:focus-visible) {
  outline: 0;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

audio {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  font-weight: 800;
  letter-spacing: -0.02em;
}
@media (min-width: 62.5rem) {
  h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 81.25rem) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  letter-spacing: -0.01em;
  font-size: 1.5rem;
  line-height: var(--sp2);
}
@media (min-width: 43.75rem) {
  h2 {
    font-size: 2.25rem;
    line-height: var(--sp3);
  }
}

h3 {
  font-size: 1.25rem;
  line-height: var(--sp1-5);
}
@media (min-width: 43.75rem) {
  h3 {
    font-size: 1.5rem;
    line-height: var(--sp2);
  }
}

h4 {
  font-size: 1.125rem;
  line-height: var(--sp1-5);
}

h5 {
  font-size: 1rem;
  line-height: var(--sp1-5);
}

h6 {
  font-size: 0.875rem;
  line-height: var(--sp);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--sp2) 0 var(--sp1-5);
  color: var(--color--night-30);
  font-family: var(--font-sans);
  font-weight: bold;
}
@media (min-width: 43.75rem) {
  h1,
h2,
h3,
h4,
h5,
h6 {
    margin: var(--sp3) 0 var(--sp2);
  }
}

ul {
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  margin-inline-start: 1.5em;
  margin-inline-end: 0;
  padding-inline-start: 0;
  list-style-type: disc;
  list-style-image: none;
}