/**
 * @file
 * Generic base elements.
 */

@import "../global/variables";

*,
*:before,
*:after {
  box-sizing: border-box;
}

::selection {
  background-color: var(--color--ocean-30);
  color: var(--color--white);
}

html {
  font-family: var(--font-sans);
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

body {
  margin: 0;
  color: var(--color--night-5);
  background-image: url('../../images/bg-florida.svg');
  background-repeat: no-repeat;
  background-position: top -5vw left 25%;
  background-size: min(100%, 1130px);

  &.is-fixed {
    position: fixed;
  }
}

a {
  color: var(--color--ocean-30);
  transition: color 0.2s;

  &:hover {
    color: var(--color--ocean-55);
  }

  &:focus {
    outline: solid 2px var(--focus-ring-color);
    outline-offset: 2px;
    border-radius: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: 0;
  }
}

button {
  font: inherit;
  border: 0;
  background: 0;
  appearance: none;
  cursor: pointer;
  touch-action: manipulation;

  &:focus {
    outline: solid 2px var(--focus-ring-color);
    outline-offset: 2px;
    border-radius: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: 0;
  }
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

audio {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 800;
  letter-spacing: -0.02em;

  @media ($lg) {
    font-size: 56px;
  }

  @media ($grid-max) {
    font-size: 80px;
  }
}

h2 {
  letter-spacing: -0.01em;
  font-size: 24px;
  line-height: var(--sp2);

  @media ($md) {
    font-size: 36px;
    line-height: var(--sp3);
  }
}

h3 {
  font-size: 20px;
  line-height: var(--sp1-5);

  @media ($md) {
    font-size: 24px;
    line-height: var(--sp2);
  }
}

h4 {
  font-size: 18px;
  line-height: var(--sp1-5);
}

h5 {
  font-size: 16px;
  line-height: var(--sp1-5);
}

h6 {
  font-size: 14px;
  line-height: var(--sp);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--sp2) 0 var(--sp1-5);
  color: var(--color--night-30);
  font-family: var(--font-sans);
  font-weight: bold;

  @media ($md) {
    margin: var(--sp3) 0 var(--sp2);
  }
}

ul {
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  margin-inline-start: 1.5em;
  margin-inline-end: 0;
  padding-inline-start: 0;
  list-style-type: disc;
  list-style-image: none;
}
