// /* inter-300 - latin */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-display: block;
//   font-weight: 300;
//   src: local(''),
//        url('../../fonts/inter/inter-v3-latin-300.woff2') format('woff2');
// }
/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: local(''),
       url('../../fonts/inter/inter-v3-latin-regular.woff2') format('woff2');
}
// /* inter-600 - latin */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-display: block;
//   font-weight: 600;
//   src: local(''),
//        url('../../fonts/inter/inter-v3-latin-600.woff2') format('woff2');
// }
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src: local(''),
       url('../../fonts/inter/inter-v3-latin-700.woff2') format('woff2');
}
