<div class="block block-footer">
  {{ content }}

  <nav class="block-footer__social" aria-label="social menu">
    <ul class="block-footer__social-menu">
      <li class="block-footer__social-menu-item">
        <a class="block-footer__social-menu-link" target="_blank" href="https://twitter.com/fldrupalcamp">
        <span class="visually-hidden">Florida DrupalCamp on Twitter</span>
        {% include('@pubsub/includes/svg/twitter.svg') %}
        </a>
      </li>
      <li class="block-footer__social-menu-item">
        <a class="block-footer__social-menu-link" target="_blank" href="https://facebook.com/fldrupalcamp">
        <span class="visually-hidden">Florida DrupalCamp on Facebook</span>
        {% include('@pubsub/includes/svg/facebook-f.svg') %}
        </a>
      </li>
      <li class="block-footer__social-menu-item">
        <a class="block-footer__social-menu-link" target="_blank" href="https://www.drupal.org/project/fldc">
        <span class="visually-hidden">Florida DrupalCamp on Drupal.org</span>
        {% include('@pubsub/includes/svg/drupal.svg') %}
        </a>
      </li>
    </ul>
  </nav>
</div>
