/**
 * @file
 * Header Mobile Buttons.
 */

@import "../global/variables";

.mobile-buttons {
  margin-block-start: var(--sp0-5);
  margin-inline-start: auto;

  @media (--sm) {
    margin-block-start: var(--sp2);
  }

  @media (--md) {
    margin-block-start: var(--sp4);
  }

  @media (--nav) {
    display: none;
  }
}
