@import "../global/variables";

@keyframes show-session-details {
  from { opacity: 0; }
}

.session-teaser {
  --session-teaser-hover-color: var(--color--sun-55);
}

.session-teaser__details[open] > *:not(.session-teaser__summary) {
  animation: show-session-details 0.2s linear;
}

.session-teaser__summary {
  position: relative;
  cursor: pointer;
  user-select: none;

  &:hover {
    &:after {
      color: var(--session-teaser-hover-color);
    }
  }

  // Mobile Safari *always* shows :focus for the <summary>, so we try to make
  // it a little less jarring, and then apply more prominent focus styles to
  // modern browsers that support :focus-visible.
  &:focus {
    outline: solid 1px var(--color--night-50);
    outline-offset: 4px;

    &:not(:focus-visible) {
      outline: 0;
    }
  }

  &:focus:focus-visible {
    outline-offset: var(--sp0-5);
    outline: solid 2px currentColor;
    border-radius: 0 16px 0 0;
  }

  &::-webkit-details-marker {
    display: none;
  }

  &::marker {
    content: "";
  }

  &:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 10px;
    transform: rotate(45deg);
    width: 16px;
    height: 16px;
    border-top: solid 4px currentColor;
    border-right: solid 4px currentColor;
    transition: transform 0.2s, color 0.2s;

    .session-teaser__details[open] & {
      transform: translatey(-6px) rotate(135deg);
    }
  }
}

.session-teaser__title {
  margin: 0 0 var(--sp1-5);
  padding-right: 40px; // Room for the summary chevron.
  font-size: var(--sp1-5);
  font-weight: 800;
  line-height: var(--sp2);
  letter-spacing: -0.01em;
  color: var(--color--ocean-10);
  transition: color 0.2s;

  .session-teaser__summary:hover & {
    color: var(--session-teaser-hover-color);
  }
}

.session__field {
  align-items: center;

  &:not(:last-child) {
    margin-right: 1em;
  }

  svg {
    max-width: 20px;
    max-height: 20px;
    vertical-align: text-bottom;
  }

  path {
    fill: var(--color--night-50);
  }
}

.session__field--field-session-category {
  svg {
    margin-bottom: 2px;
    max-width: 18px;
    max-height: 18px;
  }

  path {
    fill: var(--color--night-60);
  }
}

.session-teaser__desc {
  margin-top: var(--sp1-5);
}
