@import "../global/variables";

.session {
  .session__field--field-speakers {
    display: block;

    > svg {
      display: none;
    }
  }
}

.session__meta {
  padding: var(--sp);
  background: var(--color--sky-97);
}

.session__field {
  display: inline-flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 1em;
  }

  svg {
    width: var(--sp1-5);
    height: var(--sp1-5);
    margin-right: 0.4em;
  }

  path {
    fill: var(--color--sky-50);
  }
}

.session__field--field-session-category svg {
  margin-bottom: 2px;
}

.session__field--field-audience svg {
  width: 26px;
  height: 25px;
}

.session__desc {
  margin: var(--sp3) 0;
}

.session__slides {
  font-size: 18px;
}

.session__slide-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
}
