@import "../global/variables";

.site-footer {
  background-color: var(--color--ocean-10);
  color: var(--color--white);
  padding: 64px 0;

  @media ($lg) {
    padding: 96px 0;
  }

  @media ($grid-max) {
    padding: 96px 0;
  }

  .path-frontpage & {
    box-shadow: 0 -200px 0 var(--color--ocean-10);
  }

  a {
    color: var(--color--sky-80);

    &:hover,
    &:focus {
      color: var(--color--white);
    }
  }

  .menu--footer {
    @media ($md) {
      grid-column: 2 / -2;
    }

    @media ($lg) {
      grid-column: 1 / 10;
    }

    @media ($grid-max) {
      grid-column: 2 / 10;
    }
  }

  .block-footer {
    @media ($md) {
      grid-column: 2 / -2;
    }

    @media ($lg) {
      grid-column: 11 / -1;
    }

    @media ($grid-max) {
      grid-column: 11 / -2;
    }
  }
}

.block-footer .text-content {
  font-size: 16px;
}

// Social

.block-footer__social {
  margin: var(--sp2) 0;
}

.block-footer__social-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.block-footer__social-menu-link {
  svg {
    width: 30px;
    max-height: 30px;
  }

  path {
    fill: currentColor;
  }
}
