@import "../global/variables";

.site-hero {
  padding-bottom: 48px;

  @media ($grid-md) {
     padding-bottom: 64px;
  }

  @media ($lg) {
     padding-bottom: 96px;
  }
}

.site-hero__details {
  grid-column: 1 / -2;
  display: flex;
  height: 56px;
  white-space: nowrap;

  @media ($grid-md) {
    grid-column: 1 / 6;
  }
}

.site-hero__details-item {
  display: block;
  padding: 16px 24px;
  text-transform: uppercase;
  font-family: var(--font-sans);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.06em;
  background: var(--color--sky-94);

  &:first-child {
    position: relative;
    background: var(--color--sky-80);

    &:after {
      content: "";
      background: var(--color--sky-80);
      position: absolute;
      right: 100%;
      top: 0;
      height: 100%;
      width: 50vw;
    }
  }
}

.site-hero__main {
  margin: 48px 0 var(--sp2);

  @media ($grid-md) {
    grid-row: 2;
    grid-column: 1 / 6;
    margin: 0;
  }

  @media ($grid-max) {
    grid-column: 2 / 6;
  }
}

.site-hero__title {
  margin-block: var(--sp);
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--color--night-5);

  @media ($md) {
    margin-block: var(--sp2);
  }

  @media (min-width: 800px) {
    font-size: 56px;
  }

  @media ($lg) {
    font-size: 80px;
  }
}

.site-hero__desc {
  font-size: 16px;
  line-height: var(--sp2);
}

.site-hero__media {
  position: relative; // Anchor CTA.

  @media ($grid-md) {
    grid-column: 7 / -1;
    grid-row: span 2;
  }

  @media ($grid-max) {
    grid-column: 9 / -1;
  }

  img,
  video {
    width: 100%;
    aspect-ratio: 544 / 480;
    object-fit: cover;
  }
}


.site-hero__play-pause {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
  background: hsla(194, 66%, 80%, 0.8);
  border: solid 2px transparent;
  text-indent: -999px;
  overflow: hidden;
  transition: background 0.2s;

  &:hover, {
    background: rgba(white, 0.8);
  }

  &:focus {
    outline: solid 2px currentColor;
    border-radius: 0;
    outline-offset: -6px;
  }

  &[aria-pressed="true"]:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    margin-left: 1px;
    border-left: solid 15px currentColor;
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
  }

  &[aria-pressed="false"]:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%);
    border-left: solid 4px currentColor;
    border-right: solid 4px currentColor;
  }
}

.site-hero__media-cta {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 24px var(--sp2);
  background: var(--color--white);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: var(--color--ocean-30);
  transition: color 0.2s;

  &:focus {
    outline: solid 2px currentColor;
    border-radius: 0;
    outline-offset: -6px;
  }

  &:hover {
    color: var(--color--ocean-10);

    svg {
      transform: translatex(5px);
    }

    path {
      fill: var(--color--ocean-55);
    }
  }

  svg {
    transition: transform 0.2s;
  }

  path {
    fill: var(--color--sun-55);
    transition: fill 0.2s;
  }
}
