@import "../global/variables";

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.site-header__action {
  display: flex;
}

.site-header__register {
  display: none;
  padding: 40px;
  background-color: var(--color--sun-45);
  color: var(--color--white);

  @media ($grid-md) {
    display: block;
  }
}
