@import "../global/variables";
@import "../global/mixins";

$stats-switch: $grid-md;

.site-stats {
  position: relative;
  padding: 48px 0 0;

  @media ($stats-switch) {
    padding: 64px 0;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% + 50vw);
    height: 0;
    border-top: solid 8px var(--color--ocean-15);
  }
}

.site-stats__label {
  @media ($stats-switch) {
    grid-row: 1;
    grid-column: 10 / span 3;
  }
}

.site-stats__title {
  @include left-border-title;

  @media ($stats-switch) {
    margin-top: 39px;
  }
}

.site-stats__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media ($stats-switch) {
    grid-row: 1;
    grid-column: 1 / span 9;
    display: flex;
    gap: var(--grid-gap);

    > * {
      flex: 1;
    }
  }

  @media ($grid-max) {
    grid-column: 2 / span 8;
  }
}

.site-stats__item {
  display: flex;
  padding: var(--sp2) 0;
  border-bottom: solid 2px var(--color--sky-86);

  &:last-child {
    border-bottom: none;
  }

  > * {
    flex: 1;
  }

  @media ($stats-switch) {
    display: block;
    border-bottom: none;
  }
}

.site-stats__stat {
  margin-bottom: var(--sp);
  font-size: 56px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.02em;
  color: var(--color--sun-55);
}

.site-stats__desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
