@import "../global/variables";

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-bottom: 20px;

  @media ($grid-md) {
    margin-bottom: 56px;
  }
}

.site-header__action {
  display: flex;
}

.site-header__register {
  display: none;
  padding: 0 32px;
  color: var(--color--white);
  background-color: var(--color--sun-55);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;

  @media ($grid-md) {
    position: relative;
    display: flex;
    align-items: center;
  }


  @media ($nav) {
    flex-direction: column;
    align-items: flex-start;
    width: min-content;
    padding: 32px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background-color: var(--color--sun-55);
      height: calc(100% + 100px);
      width: max(calc(100% + 3vw), calc(100% + 50vw - 707px));
      z-index: -1;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.site-header__register-arrow {
  margin: 5px;

  @media ($nav) {
    order: -1;
  }
}
