@import "../global/variables";

.user-full__floater {
  margin: var(--sp3) 0;
  width: fit-content;

  @media ($lg) {
    float: right;
    margin: 0 0 var(--sp) var(--sp2);
  }

  img {
    border-top-right-radius: 16px;

    @media ($lg) {
      max-width: 30vw;
    }
  }
}

.user-full__location {
  display: flex;
  align-items: center;
  font-weight: bold;

  svg {
    margin-right: 0.5em;
  }
}

.user-full__bio {
  margin: var(--sp2) 0;
}

.user-full__work {
  font-size: 20px;
  font-weight: 700;
  color: var(--color--night-50);
  text-transform: uppercase;
}

.user-social {
  display: flex;
  align-items: center;
  gap: var(--sp2);
  padding: var(--sp2);
  background: var(--color--sky-90);
}

.user-social__item {
  display: flex;
  align-items: center;
}

.user-social__icon {
  display: flex;

  &:hover {
    path {
      fill: var(--pink-dark);
    }
  }

  svg {
    width: 30px;
    height: 30px;
  }

  path {
    fill: var(--pink-dark);
    transition: fill 0.2s;
  }
}

.user-social__icon--field-drupal-org-profile svg {
  margin-top: -2px;
}
