@import "../global/variables";

$schedule_layout_shift: $lg;

.view-session-schedule {
  .view-content {
    display: grid;
    grid-column-gap: var(--grid-gap);
    grid-row-gap: 40px;
    grid-template-columns: 1fr;

    @media ($schedule_layout_shift) {
      grid-template-columns: 1fr 3fr;
    }
  }
}

.view-session-schedule__item {
  @media ($schedule_layout_shift) {
    grid-column: 2 / -1
  }

  &:not(.view-session-schedule__title + &) {
    margin-top: var(--grid-gap);
  }
}

.view-session-schedule__divider {
  display: none;
  grid-column: 1 / -1;
  width: 100%;
  height: 0;
  margin: 0;
  border-top: solid 2px var(--color--sky-86);

  @media ($schedule_layout_shift) {
    display: block;
  }

  &:first-child {
    display: none;
  }
}

.view-session-schedule__title {
  position: sticky;
  z-index: 1; // Appear above content when it scrolls above.
  top: 0;
  align-self: start;
  margin: 0;
  padding: 24px;
  background-color: var(--color--sky-94);
  color: var(--color--ocean-15);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  line-height: 16px;
  box-shadow: -3vw 0 0 var(--color--sky-94), 3vw 0 0 var(--color--sky-94);

  @media ($grid-md) {  // Sidebar exists to the right.
    top: var(--sp);
    box-shadow: -3vw 0 0 var(--color--sky-94);
  }

  @media ($schedule_layout_shift) {
    grid-column: 1;
    padding: 16px 24px;
    box-shadow: none;
  }
}
