/**
 * @file
 * Styles for views.
 */

@import "../global/variables";

.view {
  & > * {
    margin-block-end: var(--sp2);

    &:last-child {
      margin-block-end: 0;
    }

    @media (--md) {
      margin-block-end: var(--sp3);
    }
  }
}
