@import "../global/variables";
@import "../global/mixins";

// Block containing the view.
.block-views-blockfeatured-speakers-block-1 {
  --color-background: var(--neutral-dark);
  --color-text: var(--color-white);

  grid-column: 2 / -2;
  background-color: var(--color-background);
  border-image-source: linear-gradient(var(--color-background), var(--color-background));
  border-image-outset: 0 50vw;
  border-image-slice: fill 0;
}

.view-featured-speakers__content {
  display: flex;
  flex-wrap: wrap;
  column-gap: calc(2 * var(--grid-gap));
  row-gap: var(--grid-gap);
  padding: var(--sp3) 0;

  @media (min-width: 600px) {
    > *:nth-child(1) {
      flex-basis: 100%;
    }

    > *:nth-child(2) {
      flex: 1;
    }

    > *:nth-child(3) {
      flex: 1;
    }
  }

  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--grid-gap);
    padding: var(--sp4) 0;

    .view-featured-speakers__title {
      grid-column: 1 / -1;
    }

    .view-featured-speakers__item {
      grid-column: span 6;
    }

    &:has(:nth-child(3 of .view-featured-speakers__item)) {
      .view-featured-speakers__item {
        grid-column: span 4;
      }
    }
  }

  @media ($lg) {
    margin-top: var(--sp3);
    padding: var(--sp5) 0;

    .view-featured-speakers__title,
    .view-featured-speakers__item {
      grid-column: span 4;
    }

    &:has(:nth-child(3 of .view-featured-speakers__item)) {
      .view-featured-speakers__title {
        grid-column: 1 / -1;
      }
    }
  }
}

.view-featured-speakers__title {
  @include left-border-title;
  align-self: flex-start;
  margin-bottom: 0;
  color: var(--color-text);
}
