<section class="site-stats container grid">
  <div class="site-stats__label">
    <h2 class="site-stats__title">Highlights from FL Drupalcamp</h2>
  </div>
  <ul class="site-stats__list">
    <li class="site-stats__item">
      <div class="site-stats__stat">150+</div>
      <div class="site-stats__desc">attendees from all over over the world visit each year</div>
    </li>
    <li class="site-stats__item">
      <div class="site-stats__stat">30+</div>
      <div class="site-stats__desc">sessions on Drupal and other technologies and topics</div>
    </li>
    <li class="site-stats__item">
      <div class="site-stats__stat">75°F</div>
      <div class="site-stats__desc">Orlando average high temperature in February</div>
    </li>
  </ul>
</section>
